[2018-07-16 06:17] meteoswiss-mdr opened #2 "Edge vectors"
Adding pre-defined velocity vectors before the Interpolation:
Uli suggested adding COSMO-derived wind velocity vectors in the four edges of the domain (where there is no radar coverage), in order to force the interpolation towards the wind field of the model. I suggest providing an additional optional kwarg

[code]
which is then appended to the declustered motion vector array:

[code]

https://git

[2018-07-16 08:17] meteoswiss-mdr opened #3 "Plotting arguments"
The plotting routines in pySTEPS are amazing, but it would be cool if one could pass further **kw plotting arguments (e.g. when I calculated the UV-differences between DARTS and LucasKanade, I coloured the vectors in red).

https://github.com/pySTEPS/pysteps/blob/c12287fd32b4e1d0af9daa0e83f34f325efa82bc/pysteps/visualization/motionfields.py#L8

[2018-07-16 10:23] dnerini commented on #2
@meteoswiss-mdr your suggestion was included in commit 2092249d24be39d60ac96f84fceef1ef409f04dd.
Please have a look, I will close this issue once you confirm that the code is working as you intended.

[2018-07-16 10:35] dnerini commented on #3
Good idea. Changes included in commit 55655313136ddf38fc0e97481c481cb8b2cbe6d6.

[2018-07-16 10:35] #3 closed, assigned to nobody

[2018-07-19 09:25] pulkkins opened #4 "Drop the requirement for square-shaped inputs"
Currently DARTS and STEPS require the inputs to have a square shape. However, the FFT can be computed from inputs of any shape, and therefore this requirement could be relaxed. This would require implementing more general versions of the bandpass filters and noise generators.

[2018-07-19 11:35] pulkkins opened #5 "NetCDF exporter for nowcasts"
The NetCDF exporter (pysteps.io.exporters.write_nowcast_netCDF) for writing the nowcast files is incomplete. Please check that the produced files conform to the CF standard and have all the required metadata.

[2018-07-24 10:49] meteoswiss-mdr commented on #2
Great, thanks!

[2018-07-24 10:49] #2 closed, assigned to nobody

[2018-07-24 13:06] meteoswiss-mdr opened #6 "Speedup of boolean summation"
Dear pysteps Team
It looks like one can speed-up the skill score calculation by converting the booleans to floats before the summation (roughly a factor of 30...).
I hope this helps!

[code]

https://github.com/pySTEPS/pysteps/blob/3d8fda83d95af76ad04b3030e0ee75d0e544ee0c/pysteps/verification/detcatscores.py#L40

[2018-07-24 15:00] dnerini commented on #6
I'm not sure why, but I've tested it and it is actually much faster, well done!

[2018-07-25 12:36] pulkkins commented on #6
I reopened this issue because it appears in many other places in the verification module (e.g. the reliability diagram).

[2018-07-25 12:37] dnerini opened #7 "Improve parametric noise generator"
Currently the parametric noise generator method **initialize_param_2d_fft_filter()** only uses one spectral slope beta:

https://github.com/pySTEPS/pysteps/blob/288774c4359737fdd4071ea61290c6d67765ba7a/pysteps/noise/fftgenerators.py#L48-L131

State of the art methods usually include two spectral slopes and a scale break that need to be fit to the 1d power spectrum.

[2018-07-25 14:07] pulkkins commented on #6
All booleans in the verification module are now converted to ints before summation (int is safer than float because the results are always guaranteed to be integer).

[2018-07-25 14:07] #6 closed, assigned to nobody

[2018-07-27 11:23] dnerini commented on #4
This is almost complete, only the nested generator still requires square domains.

[2018-07-27 11:26] dnerini commented on #7
First implementation in b1a9bcb, but still needs more testing and some better selection of initial and boundary conditions for the fitting.

[2018-08-07 10:41] juhi24 opened #8 "Basemap EOL"
Basemap will be replaced by Cartopy and ["All new software development should try to use Cartopy whenever possible"](https://matplotlib.org/basemap/users/intro.html#cartopy-new-management-and-eol-announcement). Pysteps currently uses Basemap. If there are no major barriers, pysteps should probably aim to switch to Cartopy to avoid using deprecated modules.

While not all Basemap features are yet i

[2018-08-07 23:17] pulkkins commented on #8
Since commit 425f1c0, the user can choose between two backends: basemap and cartopy. Basemap will be removed in a future release.

[2018-08-07 23:17] #8 closed, assigned to nobody

[2018-08-17 06:04] pkars opened #9 "[BUG] CRPS not defined in get_method function in verification interface"
Variable CRPS is not defined in get_method() function of pysteps.verification.interface module. Trying to call function with name='crps' raises NameError.

**Steps to reproduce:**

In [1]: import pysteps

In [2]: pysteps.verification.get_method('crps', 'probabilistic')

NameError                                 Traceback (most recent call last)
<ipython-input-2-6e2390ed7e23> in <module>()
----> 1

[2018-08-17 07:20] dnerini commented on #9
Thank you for the bug report, @pkars. I have fixed it in commit 5e13ed98ce5b2dfbbc363c088191503b5ed18491,

[2018-08-17 07:20] #9 closed, assigned to nobody

[2018-08-17 08:15] pkars commented on #9
Thank you @dnerini for this bugfix. However, commit https://github.com/pySTEPS/pysteps/commit/5e13ed98ce5b2dfbbc363c088191503b5ed18491 introduces a new fatal bug: `import pysteps` fails and raises `IndentationError: unexpected indent` at line 128 of pysteps.verification.interface.py .

Fix this by adding parenthesis around imported functions at lines 127-128 and 142-143. For example:
[code]

[2018-08-17 08:21] dnerini commented on #9
Gosh, I do need to get my 10 am coffee...

Thanks again, hopefully this is definitely solved now with commit 43be1660959d462299d98a74a4c45506393e3f06.

[2018-08-30 08:16] cvelascof opened #10 "Bias Forecast"
Hi All
I am not sure about the definition of Bias Score at
https://github.com/pySTEPS/pysteps/blob/013997fcd3015658e32461b1482d32ed343a8d59/pysteps/verification/detcatscores.py#L92

Bias score (frequency bias) should be equal to B = (H + FA)/ (H + M)
as per http://www.cawcr.gov.au/projects/verification/

Carlos

[2018-08-30 10:30] pulkkins commented on #10
This issue has been fixed in commit 5ac6a3d.

[2018-08-30 10:30] #10 closed, assigned to nobody

[2018-08-31 00:34] cvelascof commented on #10
Great. Thanks

[2018-09-03 08:02] pulkkins opened #11 "Change names of top-level modules"
Naming of the modules in the top-level pysteps directory is inconsistent. Suggested changes:
- Replace "advection" with "extrapolation", because the submodules in this directory implement extrapolation methods.
- Replace "optflow" with more generic "motion", since this module can contain more general motion-related functionality (such as temporal evolution of the motion field).

[2018-09-03 08:15] pulkkins opened #12 "Implement a data model"
Pysteps operates on 2d grids that contain metadata (such as the grid definition, units, applied transformations and temporal resolution). Currently this information is carried in a separate metadata dictionary or as separate arguments (see e.g. pysteps.nowcasts.steps.forecast) in a very inconsistent way. It would be a good idea to store all this information into the same object.

Possible solution

[2018-09-03 08:25] pulkkins opened #13 "Use specific exception types instead of generic Exception"
Generic Exception classes are used in many places where a more specific exception type would be appropriate. Find ones from the builtin Python exception classes or implement own.

[2018-09-03 08:39] pulkkins opened #14 "Axis tick labels with lon-lat lines"
The current version of cartopy (0.16.0) can only show axis tick labels for latitudes and longitudes for two projections. Otherwise, it throws an exception:

TypeError: Cannot label gridlines on a <insert-projection-here> plot.  Only PlateCarree and Mercator plots are currently supported.

This works with basemap. Until this issue is fixed in cartopy, I suggest implementing a temporary workaround (

[2018-09-11 07:36] dnerini commented on #11
I agree that some modules need better names and the two examples cited above make a lot of sense to me.
Can we think of other improvements in this sense?

[2018-09-11 07:43] dnerini commented on #12
This is definitely needed and an excellent idea!

The use of xarray can indeed represent an ideal solution to this issue, at the cost of introducing  an additional external dependency. xarray also offers a natural interface to netCDF files, pysteps output format.

However, this is not an easy task and will require considerable work. @pulkkins how do you plan to introduce such data model?

[2018-09-11 19:01] pulkkins opened #15 "Implement ODIM HDF5 exporter"
Exporter for writing nowcasts in the ODIM HDF5 format needs to be implemented.

[2018-09-17 07:21] pkars opened #16 "Specify dependency package versions in environment.yml"
Currently the conda environment file (environment.yml) does not specify which versions of dependencies should be installed. It would be a good idea to specify package versions at least for required dependencies to prevent issues arising from different versions used.

I suggest we use current (latest) stable versions as our required versions, unless there's a reason to use an older version. As of w

[2018-10-04 22:00] pulkkins commented on #11
For the advection and optflow modules, this issue has been resolved in commits 9dce013 and 1957d0d.

[2018-10-08 00:00] aperezhortal commented on #12
May I suggest another alternative? Instead of using an xarray object, a class can be used to handle a collection of radar composite images. Internally, this class can store the radar 2D data,  metadata, the array with the observations quality and  the grid information. The benefit over an xarray object is that more method can be added to the class (for example the import, export, or maybe data pre

[2018-10-08 08:31] dnerini commented on #12
So far we have tried to avoid using classes. The reason was simply that we wanted to keep the code as simple and linear as possible. But as you nicely suggest, classes can offer a way to manage data and metadata, eventually improving the workflow. It is worth considering the option @aperezhortal suggests.

[2018-10-12 12:57] dnerini opened #17 "pysteps 0.2"
Since our first release in August, there have been a number of improvements and bug fixes that would justify a new release, in my opinion.

[2018-10-20 10:29] dnerini commented on #4
Commit c930fbe5b33ef862b72308602765dad55650c743 closes this issue.

[2018-10-20 10:29] #4 closed, assigned to dnerini

[2018-10-22 19:09] pulkkins commented on #17
I agree on that. We need to prepare a changelog for the release. @dnerini, could you prepare a list of your changes since release 0.1 (just the most important ones). I will then merge that list with my own.

[2018-11-01 07:55] 5fcgdaeb opened #20 "Composite Radar Images - Support for more Importers"
Hello,

A great library overall! Thanks for making this open-source.

One question about the supported radar image types: Currently the library supports radar formats such as `bom_rf3`, `fmi_pgm` and few more. Can there be efforts to provide a more comprehensive set of importers so that the library can nowcast over almost any kind of radar image?

We have tried feeding the following types of radar

[2018-11-05 10:11] dnerini commented on #20
Hi @5fcgdaeb

I'm not completely sure that I've properly understood your request, so please let me know if I was somewhat mistaken.

pysteps currently supports the data formats of three national radar composites ([Switzerland](https://www.meteoswiss.admin.ch/home.html?tab=rain), [Finland](https://en.ilmatieteenlaitos.fi/open-data-manual-radar-data) and [Australia](http://www.bom.gov.au/australia/r

[2018-11-05 16:34] 5fcgdaeb commented on #20
Hi @dnerini ,

You are spot on, that is what I was asking! Thanks for the detailed info.

I now understand that if I want to nowcast using my images, I will need to provide my own importer. In other words, I need to provide the appropriate `metadata` of my images. The metadata is well defined in your documentation at: https://pysteps.github.io/pysteps/refmanual/io.html#pysteps-io-importers

The fo

[2018-11-06 14:00] dnerini commented on #20
Exactly, what really pysteps needs is the relevant metadata associated to your own data.
I would suggest you to use one of the already existing importers as an example for your own one. In this sense, the most straightforward is probably the [mch_gif](https://github.com/pySTEPS/pysteps/blob/6e6385604c5ed25ebb0c78a6c2a1077b5ac3a28c/pysteps/io/importers.py#L381) importer, since most of its metadata

[2018-11-06 23:14] aperezhortal opened #21 "Issue with config module and pip install"
The default configuration parameters are now hardcoded in the **config** module. This means that when a user install a new version of pysteps using pip, the user-defined configuration will be overide.

To keep the user-defined configuration unchanged under library updates, an approach similar to the one used in Matplolib can be used to mantain the configuration files.
Matplotlib uses matplotlibrc

[2018-11-08 07:37] dnerini commented on #21
I think this is a very useful development and in addition to what @aperezhortal already mentioned, there is also the advantage that the user will be able to modify the config files also after the pip install, while currently this is possible only before.

I've tested the code and it works very nicely.

One concern I have is that it is not directly clear to the user which config file is being used

[2018-11-08 07:39] dnerini commented on #20
I'm closing this issue, @5fcgdaeb. Please feel free to re-open it in case you have any more questions concerning the import of radar data and metadata.

[2018-11-08 07:39] #20 closed, assigned to nobody

[2018-11-08 14:13] 5fcgdaeb commented on #20
Sounds great @dnerini, thanks a lot for your support. Let me give the `custom importer` a shot and I can re-open accordingly.

[2018-11-09 18:39] aperezhortal commented on #21
I pushed some modifications to my branch.
I followed the Daniele's message suggestion, when pysteps is imported it prints a message showing the rc file used (commit 17480e265b72b2e58e46168044baef5b1fd03798).

As a draft, I updated the README.rst file with improved installation instructions and explaining the steps to setup the default parameters file on windows (tested), Linux (tested), and OS X (

[2018-11-24 01:05] aperezhortal commented on #21
I worked the **pystepsrc** implementation a little bit further before I submitted a pull request: #22. The changes are in a new clean and up-to-date branch [here](https://github.com/aperezhortal/pysteps/tree/pysteps_json_config)).

Since many scripts and users may use the interface in the config module, I added the new parameters file support and adapted the config module  to read the parameters f

[2018-11-24 14:58] dnerini commented on #21
Commit 011d9ff  closes this issue, thanks again for the nice job @aperezhortal !

[2018-11-24 14:58] #21 closed, assigned to nobody

[2018-11-27 09:55] dnerini commented on #17
OK, after the last pull request cf3273b440606b98da9aeb05a985386d3cb7dcfb from @aperezhortal, we are very close to issue pysteps 0.2. We are basically only missing the new pyVET module for optical flow. After that, I think we should have our new release.

This is my basic changelog since 0.1:
- Bug fixes.
- Performance and syntax improvements.
- New utility methods to adjust the domain by geographi

[2018-11-28 23:00] aperezhortal commented on #17
I added the VET module in the commit 257e80f4ee1d3455c65fd6e410ccadfd6939a6ed. I tried it with the the example data and gives results similar to the LK in the nowcasting and in the motion fields.

I also made a several changes in the motion interface to remove the nested ifs and use a dict instead (little faster and cleaner). I did a unitary testing for many possible combinations to ensure that th

[2018-11-29 07:50] dnerini commented on #16
We need to revise the environment.yml before the next release.

For example, now jsmin and attrdict are listed, but these two packages are not available in the anaconda distribution and nees to be installed with pip. Hence, the current version of the environment.yml cannot be used with `conda env create -f environment.yml`.

[2018-12-03 00:07] aperezhortal commented on #16
I was testing pysteps in a minimal environment, with out the optional dependencies listed below:

* opencv-python_ (for the Lucas-Kanade optical flow)
* pillow_ (for importing gif data)
* pyproj_ (for cartographic transformations and needed to import data)

The package functionality is quite minimal without these dependencies and the examples scripts provided can not run with out them.

Since many

[2018-12-03 03:30] pulkkins opened #23 "More efficient FFT computation"
The current implementation of the cascade decomposition uses fft2 and ifft2. These implement the generic Fourier transform that can take complex-valued inputs. For real-valued inputs, which is always the case in pysteps, we should use the optimized rfft2 and irfft2 with roughly half of the computational cost and memory usage.

[2018-12-04 09:08] dnerini commented on #16
OK, good idea, I've now listed opencv, pillow and pyproj as main dependencies (commit f157da9e223ba41f154ec238086476e0bd739e7d).

[2018-12-04 09:10] dnerini commented on #17
@pulkkins can you provide your changelog since 0.1? Once I have it, I will issue version 0.2.

[2018-12-04 14:14] dnerini commented on #11
I think this issue was resolved already some time ago and can be closed.

[2018-12-04 14:14] #11 closed, assigned to pulkkins, pkars

[2018-12-05 08:52] RubenImhoff opened #24 "Blending with NWP data"
Hi all,

With version 0.2 coming up, I was wondering whether there are any plans to implement a functionality for blending with NWP data in next releases?

Thanks!

[2018-12-06 07:24] dnerini commented on #24
Hi @RubenImhoff and welcome to pysteps!

I'm afraid we won't be able to include blending with NWP in the incoming 0.2 release.

The way I see it, this will require quite an effort, not only for the blending itself, but also to provide the routines to import various NWP formats and regrid them to the same radar grid. Also, different NWP require different blending strategies (deterministic vs ensemb

[2018-12-06 07:45] RubenImhoff commented on #24
Hi Daniele,

Thanks for your complete answer.

That is already what I thought, unfortunately! Though, focussing on the nowcasting part first, makes sense.

For my research, I might need to make use of blending in the near future. Perhaps it's good to stay in touch, let's see what we can make of it in pySTEPS.

Thanks,

Ruben

[2018-12-12 23:08] pulkkins opened #26 "More sensible treatment for missing input files"
Handling of missing input files could be done in a more sensible or a better documented way. Currently io.archive.find_by_date returns None if a file for the requested time stamp is not found. If io.readers.read_timeseries is supplied a None file name, it returns a field on nan values, which can cause computations to silently fail. In addition, the above behavior is not documented at all.

[2018-12-13 20:01] aperezhortal opened #27 "Make code pep8 compilant"
Many parts of the source code do not follow good coding practices recommended for python ([pep8 style guide](https://www.python.org/dev/peps/pep-0008/)).

Although this requires some effort, it will increase the readability of the package library.
A good summary of the standard can be found [here](https://development.robinwinslow.uk/2014/01/05/summary-of-python-code-style-conventions/).

Some good

[2018-12-13 21:35] aperezhortal commented on #13
Some of the generic exception were replaced by two custom exception: MissingOptionalDependency and DataModelError.

The rest of the generic exception were replaced by build-in Exceptions.

Commits 28d7d7c25d17843df2c18b4213be51e476ee0381 5100b85fd59b89846b7c150964e8d3786c6f080d 5100b85fd59b89846b7c150964e8d3786c6f080d close this issue.

[2018-12-13 21:35] #13 closed, assigned to aperezhortal, pulkkins, pkars

[2018-12-13 23:52] pulkkins opened #28 "Interface module for FFT methods"
The user cannot currently choose the FFT method. The available methods are searched in fixed order, and the same sequence of try-except clauses is repeated in several modules (cascade.decomposition, noise.fftgenerators, noise.utils and motion.darts). A more sensible way, that would also allow the user to choose the FFT method, would be implementing an interface module for different methods.

[2018-12-14 01:32] aperezhortal commented on #28
@pulkkins , since the **fft method** is used in several modules, another alternative to the interface is implementing something similar the [matplotliob.use](https://matplotlib.org/api/matplotlib_configuration_api.html#matplotlib.use) function used to set the plot backends.

The default **fft** method can be defined in the **rcparams** by default, and changed by the the user.
Then, fft method can

[2018-12-14 08:18] #26 closed, assigned to pulkkins

[2018-12-14 08:52] pulkkins commented on #17
Here is my tentative changelog for version 0.2:

- More sensible naming of several main modules: optflow -> motion, advection -> extrapolation and postproc -> postprocessing.
- Add missing documentation to several modules and methods.
- New intensity-scale verification method.
- New visualization methods: cartopy backend, exceedance probabilities and plotting motion fields on a map.
- New interfac

[2018-12-17 04:06] pulkkins commented on #23
I have currently implemented the above for the cascade decomposition (including computation of the bandpass filter weights) and the nonparametric noise generator. This still needs to be implemented for the parametric, nested and ssft noise generators.

[2018-12-17 14:03] dnerini commented on #23
@pulkkins , I get this error when it tries to call rfft2 through scipy.fftpack. Don't you get the same error?

[2018-12-17 17:31] pulkkins commented on #23
It turned out that scipy.fftpack does not implement rfft2/irfft2. In those cases we have to revert back to numpy.fft. I'll take this into account when I implement the FFT module (see issue #28).

[2018-12-17 20:08] pulkkins commented on #23
I also got that because scipy.fftpack does not implement rfft2. I'm working
on a solution to this problem.

On Mon, Dec 17, 2018 at 7:03 AM Daniele Nerini <notifications@github.com>
wrote:

[2018-12-17 20:12] dnerini commented on #23
Ok thanks for the explanation. I will work on implementing rfft2 for the remaining fftgenerators. From what I could see, this seems to provide a significant improvement in performance, well done!

[2018-12-17 20:20] dnerini commented on #28
I agree with @aperezhortal, we could actually use the rcparms for many of the parameters in pysteps, thus avoiding having every time to pass a long list of arguments when calling a nowcasting method.

[2018-12-21 04:50] pulkkins commented on #28
The FFT interface module has been implemented. I'll leave this issue open because using rcparams for choosing the FFT method still needs to be implemented.

[2018-12-22 14:16] dnerini opened #29 "utils/interface.py fails with default dependencies"
https://github.com/pySTEPS/pysteps/blob/58ef4a7fc6bda8df1931e5efe800f0425799b565/pysteps/utils/interface.py#L102

The utils/interface.py causes the program to fail when only the default dependencies are installed:

  File "run_ensemble_nowcast.py", line 85, in <module>
    reshaper = stp.utils.get_method(adjust_domain)
  File "/home/ned/anaconda3/envs/pysteps/lib/python3.6/site-packages/pysteps/ut

[2018-12-22 14:27] dnerini commented on #17
We are almost ready for pysteps 0.2.
@pulkkins is updating the documentation and we still need to fix some minor bugs (see e.g. #29 ). Anything else that needs to be addressed before the release?

[2018-12-30 16:05] dnerini commented on #29
Solved by commit 6a468e8f117df4b781c36e174e7adf7eb775c9ce, thanks @pulkkins.

[2018-12-30 16:05] #29 closed, assigned to dnerini, pulkkins

[2018-12-31 11:01] dnerini commented on #24
We are considering adding blending with NWP to pysteps early next year. In the meantime, I'll close this issue, but we'll keep you update on related developments.

[2018-12-31 11:01] #24 closed, assigned to nobody

[2019-01-02 09:53] dnerini commented on #17
I've drafted the new pysteps 0.2 release. Please, @pulkkins , @loforest and @aperezhortal have a look to it (you'll find it with the release link) before we publish it.

[2019-01-03 09:43] loforest commented on #17
I extended a couple of sentences in the draft. It looks good!

[2019-01-03 10:31] pulkkins commented on #17
Looks good! I did some small modifications.

I think we are ready to release pysteps 0.2. Though, I did some more
extensive modifications in the nowcasts.steps module (particularly commit
1784672). It needs to be checked that I didn't introduce any new bugs.

On Thu, Jan 3, 2019 at 11:43 AM Loris Foresti <notifications@github.com>
wrote:

[2019-01-04 09:30] pulkkins opened #30 "Segfaults when using pyfftw"
Parallel computation of STEPS ensembles occasionally crashes when using pyfftw. The following errors appear in the system log:

[1708862.459601] python[32200]: segfault at 0 ip 00007fa7e771e5b0 sp 00007fa7c9f30598 error 4 in pyfftw.cpython-37m-x86_64-linux-gnu.so[7fa7e7314000+4f1000]

This occurs in Anaconda environment with Python 3.7.1 and pyfftw 0.11.1 when n_ens_members>1 and num_workers>1.

[2019-01-04 12:43] dnerini commented on #17
OK, then I will check once more than everything works and then publish the release we have drafted.

[2019-01-07 08:53] pulkkins commented on #14
I would also add that cartopy does not currently implement a method for plotting a scale bar (as Basemap.drawmapscale does, see cartopy issue #490).

[2019-01-07 18:27] dnerini commented on #17
I tested the current version with the pysteps/examples scripts and everything looks fine. I will publish the 0.2 release tomorrow, unless somebody has something against it.

[2019-01-08 07:23] dnerini commented on #17
https://github.com/pySTEPS/pysteps/releases/tag/v0.2 closes this issue. Many thanks to everyone for your contribution!

[2019-01-08 07:23] #17 closed, assigned to dnerini, pulkkins, loforest

[2019-01-09 02:20] wcwoo commented on #12
Hi everybody! I'm from the Hong Kong Observatory, currently responsible for the Community SWIRLS nowcast system, which is in operational use in meteorological services in China, India, Malaysia and South Africa. We're also working with those in the Philippines, Vietnam, Myanmar and soon other Southeast Asia countries.

From our (somewhat painful) experience, I fully agree that it is necessary to a

[2019-01-09 19:57] pulkkins commented on #30
After more extensive testing, it also turned out that pyfftw occasionally produced incorrect results when executed in parallel. An attempt to fix this was made in commit 4fa3c64. Now each parallel computation of the FFT is done by using a separate pyfftw object, which should prevent multiple threads from accessing the same object. More testing is needed to see if the issue still persists. I'll lea

[2019-01-10 07:54] dnerini commented on #12
Hi @wcwoo, many thanks for your comment. We can certainly learn a lot from your experience with the SWIRLS system!
I think xarray still represents to us the best way to go and you are confirming us this impression.

I wasn't aware of the community version com-SWIRLS, I will certainly have a look at the project website that you've provided.

[2019-01-11 18:01] dnerini commented on #5
These may be helpful for the task:

- https://podaac-uat.jpl.nasa.gov/mcc/ (compliance checker)
- http://cfconventions.org/

[2019-01-15 15:14] aperezhortal opened #32 "Add tests to pysteps modules"
Now, the pySTEPS tests are mostly done by running the examples. It is a good idea to implement scripts that test different functions.  A good and simple testing framework is [pytest](https://docs.pytest.org/en/latest/).

By doing so, we can test the library after any change that we want to commit.

One of the best advantages of implementing these tests is that we can set continuous integration ser

[2019-01-18 14:45] loforest opened #34 "Conditioning of rank histograms"
https://github.com/pySTEPS/pysteps/blob/40572e2465675c95fda689f9107739a4771967a8/pysteps/verification/ensscores.py#L167

The current implementation of rank histograms is not optimal if we set the threshold X_min at higher values (e.g. 10 mm/h).
In such cases, the condition for ignoring pairs of observations and forecasts is not enough restrictive.
This is especially visible when all the M ensemble

[2019-01-18 19:33] pulkkins commented on #34
The issue of missing values in the bin M has been fixed in commit 8e5088c.

[2019-01-19 20:30] #30 closed, assigned to pulkkins, pkars

[2019-01-21 17:39] loforest opened #35 "Keep option for probability matching when not using mask"
For my experiments I would need to use probability matching also when the mask_method is None.
The probability matching should be unconditional so that it sets the right amount of zeros.

[2019-01-21 17:40] #34 closed, assigned to dnerini, pulkkins, loforest

[2019-01-21 18:16] pulkkins commented on #35
With commit  22c21e9, probability matching can be applied when mask_method is None.

[2019-01-23 02:32] wcwoo commented on #12
Sorry that I missed your reply, as I forgot that I setup an auto email sorting rule some time ago. :sweat_smile:

I wrote [this page](https://docs.com-swirls.org/data-model-and-xarray.html) to describe Com-SWIRLS' data model. The gist is to make development divisible and modules **swappable**. I hope one day we can run various QPF algorithms simultaneously to benchmark performance or to generate s

[2019-01-23 20:43] #35 closed, assigned to pulkkins

[2019-02-12 22:37] LuigiJR opened #37 "gcc compilation problem on pip install"
Hello

I'm struggling with the 'pip install' approach to getting pysteps installed on my Mac (OS Mojave 10.14.2).  I've tried:

(which was successful)

after progressing some way, it fails with the following message:
:
:
    creating build/temp.macosx-10.9-x86_64-3.7/pysteps/motion
    gcc -Wno-unused-result -Wsign-compare -Wunreachable-code -fno-common -dynamic -DNDEBUG -g -fwrapv -O3 -Wall -arch

[2019-02-12 23:00] pulkkins commented on #37
It looks like you are using an old C compiler that doesn't support OpenMP. We recommend installing a more recent version from the Anaconda repository. For OS X users, the correct package is clang_osx-64. See https://www.anaconda.com/utilizing-the-new-compilers-in-anaconda-distribution-5.

[2019-02-12 23:06] aperezhortal commented on #37
Hi Luigi, as @pulkkins said, it seems that the macOS the default compiler (clang LLVM) does not support openmp yet.

One possible solution is to use Anaconda to create the **Pysteps** environment and install the following packages:
[code]
And then install **Pysteps** in that environment.

Another option is to update the compilers:
[code]

Hope this helps.

[2019-02-12 23:09] LuigiJR commented on #37
Thanks!   I'll give it a try and confirm success one way or another.  Regards!

[2019-02-15 13:18] itsmohitanand commented on #37
Reference to this **Another option is to update compilers**
For me the above command didn't work but this one worked.
export CC=/usr/local/Cellar/gcc/8.2.0/bin/gcc-8

[2019-02-15 13:25] wcwoo opened #40 "ModuleNotFoundError: No module named 'pysteps.motion._vet'"
Hi! Many thanks for making STEPS available.

I've successfully created Conda environment and completed `python setup.py install`. But when I tried to import pySTEPS, I encountered the following problem:

    (pysteps) wcwoo@wcwoo-VirtualBox:~/pysteps$ python
    Python 3.6.7 | packaged by conda-forge | (default, Nov 21 2018, 03:09:43)
    [GCC 7.3.0] on linux
    Type "help", "copyright", "credits

[2019-02-15 13:46] dnerini commented on #40
Hi @wcwoo!
What is your working directory?
I was able to reproduce your error when launching python from within the pysteps folder with the source code:
[code]
Moving to any other folder avoids the error:

[code]
I'm not sure what it's causing the problem, my guess is that there is some sort of path conflict when pysteps is imported from within its main directory. Do you have a better idea @aperez

[2019-02-15 13:58] wcwoo commented on #40
My working directory was just `/home/wcwoo/pysteps`.  I confirm that invoking `python` from another directory avoids the problem. Thanks!

    (pysteps) wcwoo@wcwoo-VirtualBox:~/pysteps$ cd examples
    (pysteps) wcwoo@wcwoo-VirtualBox:~/pysteps/examples$ python
    Python 3.6.7 | packaged by conda-forge | (default, Nov 21 2018, 03:09:43)
    [GCC 7.3.0] on linux
    Type "help", "copyright", "cre

[2019-02-15 14:21] aperezhortal commented on #37
Hi @m-anand, thanks for the other solution. Did you update the compilers using homebrew? Can you share the commands that you used so they can be used as reference?
Thanks!

[2019-02-15 14:27] itsmohitanand commented on #37
I used :
brew install gcc
export CC=/usr/local/Cellar/gcc/8.2.0/bin/gcc-8

and it worked.

[2019-02-15 14:30] aperezhortal commented on #40
Hi @wcwoo, this error is  caused by the root **pysteps** repository folder being recognized as the **pysteps package**.  Any directory on sys.path with a name that matches the package name (pysteps in this case) that is being looked for, will be recognized as contributing modules and sub-packages to that package. The error is happening because the the first directory in sys.path is the current wor

[2019-02-15 14:55] dnerini commented on #40
OK, so this is actually normal behavior rather than a bug. Thanks @aperezhortal for the explanation!

[2019-02-15 14:57] wcwoo commented on #40
I see. Thanks for your explanations.

[2019-02-15 14:57] #40 closed, assigned to nobody

[2019-02-15 20:00] wcwoo commented on #32
`pytest` is a really useful tool to validate codes. While not familiar with Travis-CI, I found GitLab CI + pytest necessary for me to identify issues early.

I just ran pytest but got 2 errors. Is my new installation good for use?

[code]

[2019-02-15 20:28] aperezhortal commented on #32
Hi @wcwoo. Thanks for pointing this out. This is not a problem with the installation itself. It is an issue with the same eulerian_persistence function that is being used in two different interfaces (change made in commit 7e0b82d6789e2c864957b9a67ca09dfbc2565e7e). It is now solved (commit f8e4d3c81f324c8c355f210d45275c3132c8d44f).

[2019-02-22 13:13] itsmohitanand opened #42 "pysteps has no module named io"
I am new to pysteps and installed it using conda environment. I am trying to run one of the example scripts.
[code]

[code]

AttributeError: module 'pysteps' has no attribute 'io'
While running this code I get an error stating pysteps has no module name io, while trying to load images using io.import_mch_gif(). There was though no error importing pysteps and I am running this on a directory which

[2019-02-22 13:59] aperezhortal commented on #42
Hi @m-anand, I installed the latest pysteps's version on a clean environment but I'm not being able to reproduce the error.

Can you provide us the output of the following commands:
[code]

[2019-02-22 14:09] aperezhortal opened #43 "Example scripts not working"
The following scripts are not working correctly after the changes in the extrapolation interfaces:

* __my_first_nowcast_with_pysteps.py__
* __run_deterministic_nowcast.py__
* __run_ensemble_nowcast.py__

They need to be updated to be compliant with the last updates in pysteps.

[2019-02-22 14:13] itsmohitanand commented on #42
This is the result which I see

[code]
I copied the examples to other folder, it was initially inside the pysteps folder

[2019-02-22 14:33] aperezhortal commented on #42
The **import pysteps as stp** statement is not working correctly. The imported package seems empty.

Which is the ouput of: **print(stp.__path__)** ?

You can try uninstalling pysteps (*pip unsinstall pysteps*) and re-installing it again. Maybe there was an error in during the installation.

[2019-02-22 15:16] itsmohitanand commented on #42
I uninstalled and installed it again and it works now. I believe I did something wrong for the first time.
Thank you for the help.

[2019-02-22 15:16] #42 closed, assigned to nobody

[2019-02-22 16:44] itsmohitanand commented on #43
Is pysteps reference release 0.2 not in accordance with the latest pysteps distribution. I think that is the case. For my first_nowcast_with_pysteps.py I had to change the part #Perform the advection of the radar field.

[code]
I found it in the reference manual that there are only 3 arguments required (excluding optional) while I had to add the extrapolator as well, which I could only figure out

[2019-02-22 16:56] aperezhortal commented on #43
Hi @m-anand, the library went through many modifications since the last release. There were important changes in the interfaces and functions and the examples were not updated. That is why this issue was created.

We are in the process of fixing the examples and update the documentation according to the new changes.

With respect to your question about the **extrapolator**. This argument was imple

[2019-02-25 05:26] LuigiJR commented on #37
I've update gcc using brew as suggested by @m-anand but it didnt work.   I get slightly further than last time, but invariably:

    creating build/temp.macosx-10.9-x86_64-3.7/pysteps/motion
    clang -Wno-unused-result -Wsign-compare -Wunreachable-code -fno-common -dynamic -DNDEBUG -g -fwrapv -O3 -Wall -arch x86_64 -g -I/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages

[2019-02-25 05:27] LuigiJR commented on #37
I think I will end trying to get this installed on my mac.   It is successfully running under linux.  Thanks all for your help.

[2019-02-25 12:47] aperezhortal commented on #37
Luigi, I will try  borrow a Mac computer and try to reproduce your error.

I will keep the issue open until I add a the installation instructions for OSX to the documentation.

[2019-02-25 15:34] dnerini opened #44 "release 1.0.0"
We need to start working on the release that will be referenced in the publication we are preparing.

There are in my opinion three main aspects that need to be addressed:

Name:
How should we name this release? Simply pysteps 0.3? Another option could be to name it pysteps 1.0.
This would be in my opinion appropriate given that it will be the version described in the paper.

Priority changes yet

[2019-02-25 17:59] aperezhortal opened #45 "Changes in the extrapolator interface"
The current extrapolation methods implement the following interface:
` extrapolate(extrap, precip, velocity, num_timesteps, outval=np.nan, **keywords)`
where **extrap** is an extrapolator object returned by an initialization function which is not needed if we want to run a simple nowcast.

We can change the interface and make it compatible with the V0.2 interface:
`extrapolate(precip, velocity, nu

[2019-02-25 18:10] aperezhortal commented on #44
I agree with the V1.0 name.

These issues should be resolved for this release are: #43 #45
I [created a milestone](https://github.com/pySTEPS/pysteps/milestone/1) to keep track of the progess with these (and maybe others) issues.

[2019-02-26 16:45] aperezhortal commented on #37
**An alternative solution for anaconda users on OSX**

On your anaconda environment (`source activate my_environment_name`) install the anaconda gcc compilers:
 `conda install gcc`

Check that the conda gcc version is going to be used:
`which gcc`

The output should look something like this:
*/path/to/the/anaconda/distribution/envs/my_environment_name/bin/gcc*

Then, unset the CC variable to make

[2019-02-27 04:28] LuigiJR commented on #37
Thanks.  Unfortunately resulted in a new error message.
This is the sequence of steps I followed:

Checked that the gcc had correct path:

it returned:
/anaconda3/envs/pysteps/bin/gcc

The I tried:

but ended up with the following:

    gcc -Wno-unused-result -Wsign-compare -Wunreachable-code -fno-common -dynamic -DNDEBUG -g -fwrapv -O3 -Wall -arch x86_64 -g -I/Library/Frameworks/Python.framework/

[2019-02-27 20:31] RubenImhoff commented on #44
Seeing the improvements and the efforts from all of you, v1.0 sounds like an appropriate choice for the model version!

[2019-02-27 20:53] aperezhortal commented on #37
I updated the README file with the installations instructions based on @m-anand solution. I tried them myself and they worked correctly.

Commit 8e8fd808f583fc08b57bff7a0f17013cfc536976 closes this issue.

[2019-02-27 20:53] #37 closed, assigned to nobody

[2019-02-28 13:59] aperezhortal opened #49 "Upload package to pypi and create anaconda packages"
For the new release, we can upload the python package to the Python Package index (https://pypi.org/) so that version can be installed simply by `pip install pysteps`.

Also, since the installation of the package has some issues in other platforms different than Linux, we can create the anaconda installers for each OS. In that way, we can configure the conda package to make use of the anaconda com

[2019-03-01 14:37] #45 closed, assigned to aperezhortal

[2019-03-06 05:46] 5fcgdaeb opened #50 "Lucas-Kanade Robustness"
If there are is precipitation data on a map, the Lucas-Kanade method throws a `ValueError` with the following details:
[code]

It is understandable that a motion field cannot be computed on an empty map but I see that more as a regular case rather than an exception/error. Could the API be modified slightly to make sure that an error is not raised?

[2019-03-06 09:48] cvelascof commented on #32
Hi @aperezhortal,

I have started to work in a Travis CI configuration for pysteps.
See https://github.com/cvelascof/pysteps/blob/master/.travis.yml

So far, this configuration
https://travis-ci.org/cvelascof/pysteps/jobs/502472265/config
is able to install conda, all packages for pysteps, and pysteps itself.

However, when I try to import pysteps before to run any tests I got the following error

[2019-03-06 09:56] wcwoo commented on #32
Maybe you need to make the module searchable from your python by, say, exporting PYTHONPATH=...?

[2019-03-06 10:04] dnerini commented on #50
Hi @5fcgdaeb , thanks for your suggestion!
I totally agree with you, the robustness of the method can be improved in case of empty fields.

Commit c15edcba98827fa39b02829a758b6b89a7972ccb is an attempt in that direction: now a zero motion field is returned when no motion is detected and a simple UserWarning is raised.

This issue however opens a broader discussion about what should be behavior of

[2019-03-06 10:32] dnerini commented on #44
This change log should include all our main contributions to the V1.0.

- Change pysteps license from GPL to the less restrictive BSD-3
- Move documentation to Read the Docs ([https://pysteps.readthedocs.io/](https://pysteps.readthedocs.io/))
- Modify `setup.py` to explicitly link libraries in macOS
- Remove legacy config module
- Add [CONTRIBUTING.rst](https://github.com/pySTEPS/pysteps/blob/mast

[2019-03-06 10:38] dnerini commented on #32
This seems related to the problem discussed in Issue #40.

[2019-03-06 12:08] wcwoo commented on #32
I forgot that I raised that issue.  :)

[2019-03-06 12:20] cvelascof commented on #32
Yes. Thanks. That did the trick. Running the tests from `~` fixed it.

https://travis-ci.org/cvelascof/pysteps/builds/502524712
[![Build Status](https://travis-ci.org/cvelascof/pysteps.svg?branch=master)](https://travis-ci.org/cvelascof/pysteps)

I will do a merge request soon.

[2019-03-06 20:47] aperezhortal commented on #43
Solve by commits 1b2acf08c62d3e57147544bcd8441ad304281675 and 7d64b7127502186ed5df0113023181c3aed14c1e.

[2019-03-06 20:47] #43 closed, assigned to aperezhortal

[2019-03-07 18:32] loforest commented on #44
From my side there are some small additions/improvements:
- function for elegant plotting of 1d Fourier spectra in log-log scale
- utility function to remove rain/no-rain step before computing Fourier spectra
- option to use incremental mask also with S-PROG nowcast
- make 'mean' probability matching method independent from the type of mask used

[2019-03-12 18:22] aperezhortal commented on #44
From me, only small improvements:

- Remove legacy config module
- Improve subplot handling in plot_precip_field.
- Add interface tests suite

[2019-03-12 21:58] aperezhortal commented on #50
I run the following snippet to test the behavior with zero fields::

[code]
In all the cases, the motion field is 0 and no error are raised. But, only Lucas-Kanade raises a UserWarning.

For VET, since all the precipitation fields are Zero, displacing the fields does not change the value of the cost function used to find the displacements. In consequence, VET returns a field equal or similar to th

[2019-03-12 22:16] aperezhortal commented on #16
Going back to the @pkars suggestion about the version numbers. The **environment.yml** file is used to create a the pysteps environment. When doing so, the anaconda installer will resolve the dependencies of the different packages listed in the **environment.yml** file and it will it install the latest versions available in anaconda channels that are configured.

[2019-03-13 17:25] dnerini opened #56 "linking pysteps under the GPL3 license"
It has been pointed out that there may be an issue regarding the GPL3 license under which  pysteps is currently published. This concerns whether or not a non-GPL software can legally link to a GPL library (as explained in this [Wikipedia page](https://en.wikipedia.org/wiki/GNU_General_Public_License#Linking_and_derived_works)):

 In essence, this boils down at whether or not using pysteps can be c

[2019-03-13 17:27] dnerini commented on #16
@aperezhortal 's comment seems to close this issue.

[2019-03-13 17:27] #16 closed, assigned to dnerini, aperezhortal, pulkkins

[2019-03-13 17:28] #7 closed, assigned to nobody

[2019-03-13 17:30] dnerini commented on #23
This has been implemented some time ago.

[2019-03-13 17:30] #23 closed, assigned to dnerini, pulkkins

[2019-03-13 20:25] aperezhortal commented on #56
The [GPL](https://tldrlegal.com/license/gnu-general-public-license-v3-(gpl-3)) is restrictive in the sense that enforces the "open source" idea. That means that, if you use a GPL library in you need to make the source code available also.

An alternative is the [GNU Lesser General Public License (LGPL)](https://tldrlegal.com/license/gnu-lesser-general-public-license-v3-(lgpl-3)). With that license

[2019-03-14 03:11] wcwoo commented on #56
Sorry that I said I would bring this up but didn't, as I was too busy over the past couple of weeks. Thanks @dnerini for taking the initiative.

From the perspective of a potential user, we can happily use it as long as it's not strictly GPL.

[2019-03-14 10:13] dnerini opened #57 "pysteps documentation"
There are a couple of matters concerning documentation that I would like to discuss here before the V1.0.0 release.

First, currently the documentation is hosted on github pages: [https://pysteps.github.io/pysteps/refmanual/](https://pysteps.github.io/pysteps/refmanual/).
This means that the documentation needs to be manually updated.
One alternative to this approach would be to use [readthedocs](

[2019-03-14 10:38] dnerini commented on #56
No worries @wcwoo, I decided to open the issue myself as I think it is something important to be discussed here. Thank you for having mentioned this issue in the first place.

And thanks @aperezhortal for the exhaustive overview. From my side this is now pretty clear: if the aim of pysteps is to become a general library for nowcasting purposes and related applications, then GPL is too restrictive

[2019-03-14 13:21] aperezhortal commented on #57
Using readthedocs is the best alternative in my opinion. Besides the automatic updates, every time that we create a new tag, the documentation is also created for that tag (version). This maintains also the documentation of previous versions.

The py-art approach seems interesting. I will take a closer look at it.

[2019-03-15 00:52] wcwoo commented on #57
I think readthedocs is pretty good for a public project.  By automating documentation generation it also ensures consistency between manuals and codes.

Since you are already using sphinx autodocs, perhaps you may consider letting it automatically pull all docstrings to generate manuals, such that there is no need to manually update anything.

[2019-03-15 04:04] pulkkins commented on #44
Here is my changelog:

- Add scripts for estimating velocity perturbator parameters.
- Implement a separate module for S-PROG nowcasts.
- Implement interfaces for initializing and calling different FFT methods.
- Rework of the extrapolation interface (with @aperezhortal).
- Faster implementation of the rank histogram with bug fixes.
- Rewrite the CRPS function to be compatible with the other proba

[2019-03-15 07:56] loforest commented on #44
In addition there is:
- Function to derive the full theoretical auto-correlation function (ACF)
- New module to estimate precipitation lifetimes

[2019-03-17 22:09] aperezhortal commented on #57
I pushed a branch with a documenation draft using the autosummary sphinx extension as in py-art. https://github.com/pySTEPS/pysteps/tree/new_documentation

I didn't include the documentation in the __init__.py files since it was not needed. Instead, I added the autosummary directory to several modules and add the documentation sources accordingly.
Not all the modules were documented, since this is

[2019-03-18 09:17] dnerini commented on #57
@aperezhortal, this looks excellent! I really like as this way the manual work is reduced to a minimum and consequently the documentation will be easier to maintain. Thanks a lot for this contribution!

I think we should implement this solution and use readthedocs for hosting it.

[2019-03-18 09:20] dnerini commented on #56
It looks like we are now converging towards the [BSD-3](https://tldrlegal.com/license/bsd-3-clause-license-(revised)) license.
I will leave this discussion open for the moment, in case somebody has something to add or comment about the topic. We plan to update the pysteps license with the next V1.0.0 release.

[2019-03-18 09:24] dnerini commented on #50
Thanks @aperezhortal! In this case, I will remove the UserWarning for Lucas-Kanade and assume that the expected behavior in case of zero fields is to return zero motion.

I guess this closes the issue.

[2019-03-18 09:24] #50 closed, assigned to dnerini, aperezhortal, pulkkins

[2019-03-18 13:07] aperezhortal commented on #57
Great! I will add the rest of the modules to the documentation and then make a pull request. Once it is merged, we can configure the read the docs to build the documentation automatically.

[2019-03-18 14:31] dnerini commented on #57
I'm happy to help with this, I'll be working with you on the same branch.

Edit: now all basic modules should be there.

[2019-03-19 09:23] dnerini commented on #57
The documentation is now online on readtheocs:
https://pysteps.readthedocs.io/en/latest/source

but there are still a number of issues:

1.  I had to comment out the `python>=3.6` requirement from the doc/requirements.txt file (5b8b728727f713174f5e40919446020b965cb7f3) in order to get the documentation to build successfully. That line caused the following error:

Collecting python>=3.6 (from -r do

[2019-03-19 17:47] aperezhortal commented on #57
Unfortunately, issue 3 still persists after merging PR #61.
[EDIT] : fd0ba65643967a842a8559ba11c7579d8bf78d74 solved the issue.

[2019-03-20 07:15] dnerini commented on #57
Thanks @aperezhortal for all the fixes, now the documentation behaves as expected.

I leave for the moment this issue open, since we still have to update the links to the new documentation, but this is now mostly completed, well done!

[2019-03-25 21:01] dnerini commented on #57
All relevant links to the documentation are now updated.

[2019-03-25 21:01] #57 closed, assigned to dnerini, pulkkins

[2019-03-26 06:27] pkars commented on #56
I have no objections to this license change.

In fact, I wholeheartedly agree with switching to BSD-3 license. That'll help out in avoiding licensing problems in the future, if (when) pysteps library is used in operational nowcasting systems.

[2019-03-28 08:53] dnerini commented on #56
Commit 9522198b37bd27b8ba20ea0ed6e315aeb77997e9 closes this issue.

[2019-03-28 08:53] #56 closed, assigned to dnerini, aperezhortal, pulkkins, cvelascof, loforest

[2019-03-28 11:08] dnerini commented on #44
I think we have addressed all pending issues for V1.0. If I haven't forgot anything important, we should now be ready for the next release.

I propose to release V1.0 together with the submission of the pysteps publication.

[2019-03-28 16:52] dnerini commented on #49
Any update on this @aperezhortal? Anything that we need to do before uploading the package to pypi?

[2019-03-28 17:25] aperezhortal commented on #49
We can create a **1.0.0-beta** tag to test that the `pip install pysteps` installation from the [Test Python Package index](https://test.pypi.org/)) works in all platforms. This beta tag will be superseded by the release **1.0.0**.

Then we can add the PySteps to [Conda-Forge](https://conda-forge.org/). I'm (slowly) preparing a pull request to https://github.com/conda-forge/staged-recipes with the

[2019-03-29 17:23] aperezhortal opened #68 "Pysteps User reference"
The actual documentation only includes the developer reference with the description of all the modules. This provides a low-level description of PySteps modules.

The documentation is missing an *user reference*, that introduces how to use the library, step by steps.

These are examples of User guides:
- https://matplotlib.org/users/index.html
- https://docs.wradlib.org/en/stable/index.html (Check

[2019-03-30 12:11] dnerini commented on #68
This point is very important and should be given somewhat high priority.

We should aim at least at covering all modules with a short tutorial. Most of the code already exists, but we need to find the best way of presenting it.

[2019-03-30 16:15] dnerini commented on #27
has anyone used [black](https://black.readthedocs.io/) before?

It looks pretty good.
Here it's all it took to reformat the `pysteps/verification/detcontscores.py` module:
[code]
You can see the result in commit 4850ad00baa75c997d92dcccc6cf73b18efede66.

Definitely something to consider for all of us!

Edit: [here](https://news.ycombinator.com/item?id=17151813) you find an interesting discussion a

[2019-03-31 01:09] aperezhortal commented on #68
The workflow implemented by Wradlib for the user documentation is really interesting.
https://github.com/wradlib/wradlib/wiki/dev.-notebook-workflow

In a nutshell:

1. Maintain a separate repository with the tutorials notebooks
2. Use travis to pull them into the doc dir and create add them to documentation using  nbsphinx

[2019-04-02 06:37] dnerini commented on #68
Hi @aperezhortal, thanks for the links. I'm not sure I understand the whole workflow implemented in Wradlib. Why is it necessary to maintain a separate repository for the tutorials?

In the meantime, I've tried out the sphinx-gallery module. I've created a new [branch](https://github.com/pySTEPS/pysteps/tree/use_sphinx-gallery) and temporarily hosted the build documentation [here](http://heuristic

[2019-04-02 13:28] aperezhortal commented on #68
Hi @dnerini, it is not strictly necessary. I think that the objective is to keep the workflow in the notebooks repository separated from the package development repository. This also allows potential users with pySTEPS installed (by pip for example) to clone just the examples and not all the pySTEPS sources (as mentioned in the [wradlib documentation](https://docs.wradlib.org/en/stable/jupyter.htm

[2019-04-02 16:25] dnerini commented on #68
OK, I now see your point and it is a good one, too. But as you say, this could be implemented in the future and it is probably a good idea to start simple.

Perfect, let's try to implement sphinx-gallery then. The branch I've pushed is probably just a quick and dirty implementation that we probably will need to review.

For example, for some reasons I had to change [these few lines](https://github

[2019-04-02 17:17] aperezhortal commented on #68
I have the feeling that this will probably create issues while the documentation is build and the TOC trees are generated. I added this directory to gitignore and modify the rebuild.sh script to remove it like the generated rst files. (commits bc94f04d4f771cde8783d15b52da304e95b36aa7 and 75b791f12349ca6f9c6f40ecd3e2368085391706)

[2019-04-02 17:27] dnerini commented on #68
Yep, you were right, that didn't work. Thanks for the fix!

[2019-04-03 09:50] dnerini opened #70 "Using pysteps-data for tests and examples"
Currently we have a set of sample data in a separate repository, pysteps-data. This is well motivated by the necessity to keep the main library repository as slim as possible.

The problem is that more and more we need sample data within the library, as in the case of the tests run with Travis or the sphinx-gallery that we are preparing and will be eventually built by  Read the Docs.

To avoid hav

[2019-04-05 09:29] itsmohitanand opened #72 "_generate_path function cannot convert paths appropriately. Generalisation could be helpful"
https://github.com/pySTEPS/pysteps/blob/fcf2bcd8094585a460d062eed35873211b248945/pysteps/io/archive.py#L100

Pysteps source file snap

[code]

The code to read the files

[code]

Error

[code]

%m not being converted to the month value

[2019-04-05 10:03] dnerini commented on #70
#71 closes this issue.

[2019-04-05 10:03] #70 closed, assigned to dnerini, aperezhortal, pulkkins, cvelascof, loforest

[2019-04-05 11:12] dnerini commented on #72
Hi @melioristic thanks for this report. @spulkkin maybe you can have a look at this?

[2019-04-05 13:50] aperezhortal commented on #72
It seems that line 101 is causing the issue. Only format strings that start with **%** are formated using strftime. Otherwise a the same format string is returned.

https://github.com/pySTEPS/pysteps/blob/fcf2bcd8094585a460d062eed35873211b248945/pysteps/io/archive.py#L100-L101

[2019-04-05 14:08] pulkkins commented on #72
Exactly. Why don't we just remove the if clause?

[2019-04-05 14:23] aperezhortal commented on #72
I'm working on it. I'll also add a few tests for that function.

[2019-04-07 16:04] aperezhortal commented on #49
An update on this.

I followed the steps in our [developer reference for PyPI](https://github.com/pySTEPS/pysteps/blob/master/doc/source/developer_guide/pypi.rst) and uploaded a the pySTEPS package to the Test Python Package index ([here](https://test.pypi.org/project/pysteps/)) to test it. You can install that  package using:  `pip install --index-url https://test.pypi.org/simple/ pysteps`

Also

[2019-04-07 17:32] aperezhortal commented on #72
@melioristic, Pull Request #76 should fix this issue. Let us know if you are still having problems.

[2019-04-07 17:32] #72 closed, assigned to aperezhortal

[2019-04-07 20:22] dnerini commented on #44
Now v1.0.0 is available, well done to everyone!

[2019-04-07 20:22] #44 closed, assigned to aperezhortal, pulkkins, cvelascof, loforest

[2019-04-07 20:24] dnerini commented on #49
@aperezhortal this looks really great!

pysteps 1.0.0 is now available, meaning that we could also proceed with this issue when you have some time to work on it. Let me know if we can help in any way!

[2019-04-07 20:41] loforest commented on #44
Very well done guys!
Everyone deserves a break now :-)

Il Dom 7 Apr 2019, 22:22 Daniele Nerini <notifications@github.com> ha
scritto:

[2019-04-07 21:54] aperezhortal commented on #49
[pysteps 1.0.0 is now in PyPI](https://pypi.org/project/pysteps/) :+1:
@dnerini or @pulkkins, you can create an account in PyPI so I can add you as maintainers for the package.

Next step, conda-forge! I forked the stagged-recipes repo to the pySTEPS account so we can work on it in the [pysteps_recipe branch](https://github.com/pySTEPS/staged-recipes/tree/pysteps_recipe). I'm following the [guidel

[2019-04-08 08:23] pulkkins commented on #15
I'm closing this issue because the file format for nowcasts is not currently defined in the ODIM HDF5 specification (http://eumetnet.eu/wp-content/uploads/2019/01/ODIM_H5_v23.pdf).

[2019-04-08 08:23] #15 closed, assigned to pulkkins, pkars

[2019-04-08 17:43] pulkkins commented on #49
I created an account in PyPI, so can you add me as maintainer?

[2019-04-08 21:40] aperezhortal commented on #49
We can now proudly tell everyone that pysteps is available in conda-forge for all the platforms! :sunglasses:

Since conda-forge and the default channels are not 100% compatible, it can happend that a missmatch in the versions available on each channel results in errors when the install environment is mixing packages from multiple channels. [A solution for this is to use conda-forge as the priorit

[2019-04-08 21:40] #49 closed, assigned to aperezhortal

[2019-04-09 06:56] dnerini commented on #49
This is brilliant, thanks for all the great work, @aperezhortal !

We should now update our documentation accordingly.

[2019-04-09 17:47] kmuehlbauer commented on #68
@dnerini @aperezhortal Sorry for jumping in. I'm one of the wradlib devs and created that somehow awkward workflow with the notebooks at wradlib.

@aperezhortal Already mentioned on or two of the reasons, but in a nutshell a short summary on the whereabouts:

- dedicated notebook repo (wradlib has quite some notebooks, so we decided to split things up)
    - the notebooks are checked in without re

[2019-04-09 18:11] aperezhortal commented on #68
@kmuehlbauer thanks for the clarification! The workflow that you describe is very interesting, I think that it worth being considered for future documentation. When I look at it for the first time I missed most of the details that you mentioned.

[2019-04-13 20:13] pulkkins opened #78 "Implement the STEPS model in the spectral domain"
The AR(2) models and the noise generation in STEPS can be implemented in the spectral domain. See

S. Pulkkinen, V. Chandrasekar and A.-M. Harri, Stochastic Spectral Method for Radar-Based Probabilistic Precipitation Nowcasting, Journal of Atmospheric and Oceanic Technology, doi: 10.1175/JTECH-D-18-0242.1.

I implemented the above method in the spectral branch. Here is the output of the old versio

[2019-04-16 06:52] dnerini commented on #78
This looks great, a fantastic improvement in performance!
I wonder whether the the forecast quality is somehow affected?
If not, I agree that this should become default.

[2019-04-16 16:10] pulkkins commented on #78
The forecast quality should not be affected, as the forecast model remains the same. It's just implemented in a different domain. The only difference I can see is that the spectral version uses only one mean value for the whole precipitation field across all scales, whereas the original version estimates the mean value separately for each cascade level. According to my experiments, the mean value

[2019-05-27 00:15] cvelascof commented on #32
@aperezhortal, @dnerini  have you tried to run the test_motion outside of Travis? I mean in your own computer. In my case, test_motion is taking so much time to run. It passes but in comparison with the other tests is sooooo slow.
I recall that it used to be as fast as the other tests.
Any ideas why it change ?

[2019-05-27 06:12] dnerini commented on #32
Yes, I run the tests locally on my computer and it is true that test_motion takes some time, mostly because it has to compute multiple times VET and make sure that it converges to the right solution (by increasing the number of iterations).

But are you sure that is used to be faster?

Perhaps one way to speed up the test could be to reduce the dimension of the domain (e.g. upscaling the reference

[2019-05-28 12:04] aperezhortal commented on #32
@cvelascof, that test indeed takes some time. I will test upscaling the reference fields as @dnerini suggested to speed up the tests. Hopefully, it will be straightforward.

[2019-05-30 05:27] cvelascof commented on #32
@aperezhortal thanks. that would be nice to have.
Checking new uni-tests is taking too long now.

[2019-05-30 12:27] Fangyh09 opened #83 "ValueError: X contains non-finite values"
I run example at https://pysteps.readthedocs.io/en/latest/auto_examples/plot_noise_generators.html#sphx-glr-auto-examples-plot-noise-generators-py

Error occurs at
Fp = initialize_param_2d_fft_filter(R)

[2019-05-30 12:31] aperezhortal commented on #83
Hi @Fangyh09, can you provide the error message (the complete traceback) and the OS that you are using?

[2019-05-30 12:32] Fangyh09 commented on #83
[code]

[code]

[code]

[2019-05-30 12:38] Fangyh09 commented on #83
@aperezhortal
I found the reason, R is all nan after **`io.import_mch_gif`**.
What are the possible reasons?

[2019-05-30 12:44] aperezhortal commented on #83
I can't reproduce the error in my enviroment.

One possibility is that the file is corrupt. To discard that possibility, try using a different file, like:

`filename = os.path.join(root_path, "20150515", "AQC151351605F_00005.801.gif")`

Also, you can try to sync the pysteps-data dir using `git pull`.

[2019-05-30 12:46] aperezhortal commented on #83
If that does not work, another thing to try is reinstalling the PIL package used to read the GIFs:
`conda install PIL --force-reinstall`

[2019-05-30 12:47] Fangyh09 commented on #83
I installed using this way:
[code]

[2019-05-30 12:52] aperezhortal commented on #83
`python setup.py install` will try to install only missing dependencies, it won't update any package.

From your error log , it seems that you installed Pystepst in an anaconda environment (**maskrcnn_benchmark**).  Hence, I think that you can update PIL using:
[code]

[2019-05-30 13:06] aperezhortal commented on #83
To discard any issues with the **pysteps-data** files, try cloning that repo again.

[2019-05-30 13:11] Fangyh09 commented on #83
When fix old errors, I met with new error
"ImportError: cannot import name 'create_prompt_application".

Reproduce
[code]

I tried "sudo pip3 install 'prompt-toolkit<2.1.0,>=2.0.0' --force-reinstall", but failed.

[2019-05-30 13:19] Fangyh09 commented on #83
@aperezhortal Could you reproduce the error?
Any other way to install the enviroment?

[2019-05-30 13:27] aperezhortal commented on #83
@Fangyh09, that error is related to the jupyter package, and not pysteps.

I tryied the following steps to install both packages in the new environment and everything worked fine.

[code]

[code]

[2019-05-30 13:34] Fangyh09 commented on #83
@aperezhortal You are right.
Thanks for your quick reply.  It works after
[code]

[2019-05-30 13:34] #83 closed, assigned to nobody

[2019-05-30 17:06] Fangyh09 opened #84 "Could you explain a bit more for extrapolation "XYW = xy_coords + D - V_inc / 2.0""
I am a bit confused at this line, would you explain it a bit more? Thanks!
https://github.com/pySTEPS/pysteps/blob/b98bb8923318c59d41e7ef54bfb40bb77a038e71/pysteps/extrapolation/semilagrangian.py#L131

[2019-06-02 22:27] pulkkins commented on #84
The method used here is a generalization of the midpoint rule for numerical integration (see https://math.libretexts.org/Bookshelves/Calculus/Map%3A_Calculus_-_Early_Transcendentals_(Stewart)/7%3A_Techniques_of_Integration/7.7%3A_Approximate_Integration). Here the integration variable is time (t) instead of x, and the function f is replaced with the advection field.

[2019-06-03 02:17] Fangyh09 commented on #84
@pulkkins I see, thanks.

[2019-06-03 02:17] #84 closed, assigned to nobody

[2019-06-03 08:14] Fangyh09 opened #85 "Why use np.roll(g[:-1], j) instead of padding zero in autoregression?"
For line 131 at
https://github.com/pySTEPS/pysteps/blob/4a14e00fa56d43686c977bfcbbeb9c3412bda0b3/pysteps/timeseries/autoregression.py#L128-L134

[code]
Why use np.roll instead of padding zero?

//Yule=Walker Equation: http://www2.econ.osaka-u.ac.jp/~tanizaki/class/2014/model_analysis1/08.pdf P109

[2019-06-03 16:09] aperezhortal commented on #32
@cvelascof @dnerini, I tried upscaling the domain by 2, but the quality of the VET field was much lower. It converges to a local minimum...
To speed up the tests, I only left only one VET test and commented out the others.

This is a temporary patch, while I look for a way to optimize the _vet module. ( 24e4f8a )

[2019-06-03 17:44] pulkkins commented on #85
The Yule-Walker equation could also be solved by padding with zeros. However, using np.roll allows a more compact representation of the equation.

[2019-06-04 02:31] #85 closed, assigned to nobody

[2019-06-04 03:20] Fangyh09 opened #86 "A possible bug in D -= V_inc if D_prev is None"
If D_prev is None and t == 0,
D -= V_inc(Line 151) is not right, it should be D -= V_inc/n_iter
https://github.com/pySTEPS/pysteps/blob/dde2b1318e4e98d320a87cc8644ce270423916f4/pysteps/extrapolation/semilagrangian.py#L135-L155

[2019-06-04 05:36] pulkkins commented on #86
The division is done at line 133. Note that when using the /= operator, any changes to the elements of V_inc are reflected back to the function where interpolate_motion is called from.

[2019-06-04 05:57] Fangyh09 commented on #86
If D_prev is None and t == 0, interpolate_motion is not called.

[2019-06-04 06:02] Fangyh09 commented on #86
I think  "D -= V_inc/3" is better.

[2019-06-05 06:12] Fangyh09 opened #87 "Which flow is better?"
I found the procedure to compute optical flow is slow. And tried another way(neural network) to compute it.
Which one looks better and reasonable? LK method or the new method? The results are:
------------------------------This repo LK method------------------------------
Time=t0:
![o_v2](https://user-images.githubusercontent.com/9389269/58933459-e730ec80-8799-11e9-9eaa-72baec27c4e6.png)
Time=t1:

[2019-06-05 06:32] dnerini commented on #87
Hi @Fangyh09
Interesting contribution! One way to compare optical flow estimations consists in computing the forecast error for both methods and see which one provides the best skill.
See for example Section 5.1 in the pysteps reference publication, here:
https://www.geosci-model-dev-discuss.net/gmd-2019-94/

Hope this helps.

Kind regards
Daniele

[2019-06-05 06:40] Fangyh09 commented on #87
@dnerini  Thanks, I found ROC metric in https://pysteps.readthedocs.io/en/latest/auto_examples/plot_ensemble_verification.html#sphx-glr-auto-examples-plot-ensemble-verification-py.

[2019-06-05 06:54] dnerini commented on #87
For example, yes, although the scores in that tutorial are for ensemble (probabilistic) forecasts, while you will be looking at deterministic predictions.
You can therefore try to use  [deterministic continuous](https://pysteps.readthedocs.io/en/latest/generated/pysteps.verification.detcontscores.det_cont_fct.html#pysteps.verification.detcontscores.det_cont_fct) error metrics such as the mean abso

[2019-06-05 09:08] Fangyh09 commented on #87
@dnerini Thanks.

[2019-06-05 09:08] #87 closed, assigned to nobody

[2019-06-05 09:23] Fangyh09 opened #89 "Why AR(2) model is used on Lagrangian persistence component instead of original data?"
For line 204, why images are backward  extrapolated first before autoregression?

https://github.com/pySTEPS/pysteps/blob/df090c0a6e7df69596543d9bb739eb927a482395/pysteps/nowcasts/sprog.py#L190-L207

[2019-06-05 11:44] dnerini commented on #89
Precisely because we seek at quantifying the _Lagrangian_ persistence, since this is the framework used for the advection forecast. In other words, we need to estimate the predictability of the extrapolation nowcast in order to simulate its forecast error.
You can find more details in, for example, [Seed (2003)](https://journals.ametsoc.org/doi/full/10.1175/1520-0450%282003%29042%3C0381%3AADASSA%3

[2019-06-06 07:28] #89 closed, assigned to nobody

[2019-06-11 07:07] Fangyh09 opened #90 "Any script to evaluate different methods?"
Hi,
I implemented different optical flow methods, and I want to compare the results.
Is there any script to evaluate the results?

[2019-06-11 07:17] dnerini commented on #90
Hi @Fangyh09,
Apart from the references already included in [this previous answer](https://github.com/pySTEPS/pysteps/issues/87#issuecomment-498961852), you can also have a look at the scripts that were used for the pysteps reference publication, [here](https://github.com/pySTEPS/pysteps-publication).
In particular, you can find [here](https://github.com/pySTEPS/pysteps-publication/blob/415d0bb69e

[2019-06-12 01:26] wcwoo commented on #68
Excuse me for chipping in.  I'd love to see a user reference for pysteps, too, and Sphinx-gallery is a really useful tool.  In SwirlsPy we found the examples we made (e.g. https://docs.com-swirls.org/auto_examples/qpf_hk.html#sphx-glr-auto-examples-qpf-hk-py) helps our new members and partners getting started quickly.

[2019-06-12 04:25] #90 closed, assigned to nobody

[2019-06-12 06:42] Fangyh09 opened #91 "Support gpu version of AR(2)"
Hi,
I implement gpu version of autoregression, which supports image-level / patch-level(23x23 for example) autogression.
https://github.com/Fangyh09/Autoregression.Pytorch

[2019-06-17 06:48] #91 closed, assigned to nobody

[2019-06-17 06:56] Fangyh09 opened #93 "Why local autoregression AR(2) is not used?"
Hi,
I implemented local autoregression AR(2), and found it was pretty good.
However, in this repo, global autoregression is used. https://github.com/pySTEPS/pysteps/blob/4c4ecc02f4baa600153c8991941d17ebf09998b7/pysteps/nowcasts/sprog.py#L226 Why not consider using local autoregression?  Is it because too time-consuming?

## local auto regression (with kernel size 3x3)
![nofft_R0](https://user-imag

[2019-06-17 15:37] kmuehlbauer commented on #12
Is there some solution for this ahead? I would fully support the xarray approach. There is also no need to subclass Dataset but xarray Accessors can be used instead.

This would greatly simplify interaction with other packages.

Just today I had to go the long way importing/exporting data/results to/from pysteps to xarray to conveniently examine it using eg hvplot and feed it to my further process

[2019-06-17 15:40] kmuehlbauer commented on #5
@dnerini This would be just one line of code, if xarray would be adopted, see https://github.com/pySTEPS/pysteps/issues/12

[2019-06-19 08:45] dnerini commented on #93
Hi @Fangyh09

The localization of the model parameters such as the autoregressive coefficients is a very interesting topic that we have only recently started to explore, see for instance the localization experiment in the recently submitted [GMD publication](https://www.geosci-model-dev-discuss.net/gmd-2019-94/).

The first aim of pysteps, however, was to provide state-of-the-art tools in nowcasti

[2019-06-19 08:47] dnerini commented on #86
@spulkkin you have any more comments of this?
is this something we need to address?

[2019-06-19 16:26] pulkkins commented on #86
I did a partial rewrite of the semi-Lagrangian extrapolator. The above issues should now have been fixed.

[2019-06-19 16:26] #86 closed, assigned to pulkkins

[2019-06-20 09:43] dnerini commented on #32
Good news: we have (finally) achieved more than 50% coverage!

[2019-06-20 12:52] kmuehlbauer commented on #12
I've created a [simple gist](https://gist.github.com/kmuehlbauer/645e42a53b30752230c08c20a9c964f9), which shows some capabilities of xarray and how it could be used for pysteps.

If there is real interest here, I can try to setup a simple workflow for some LK method etc. which uses xarray.pipe technique.

[2019-06-20 13:21] dnerini commented on #12
Hi @kmuehlbauer !
Many thanks for your input and the very interesting example!

We have discussed adopting xarray in the past and I think the main point and concern was whether we wanted pysteps to remain a general library of nowcasting methods or instead to introduce a "strict" data structure such as xarray.

I think that there are pros and cons for both ways and that probably we are already a bi

[2019-06-20 13:24] cvelascof commented on #12
@kmuehlbauer  yes. I also support the use of xarray.
xarray is so good loading and saving netCDF and ploting variables as you are showing in your gist.
However to wrap the core rutines of pySteps into xarray may require more work. Or maybe no, if xarray.pipe can help. I would be interested on see an example of the xarray.pipe tehcnique.

Also, as soon as I have a bit of spare time I will try to ad

[2019-06-20 13:58] kmuehlbauer commented on #12
Thanks for your immediate feedback @dnerini, @cvelascof.

I might be a bit biased since I just did the implementation for xarray based polar data handling and processing within wradlib (CfRadial1, 2 and ODIM_H5). (side note: You can also read hdf5 using xarray, I'll add a example for reading HDF5 Odim later next week). And I found it extremely useful. The ability to use xarray Datasets from polar

[2019-06-25 14:11] kmuehlbauer commented on #12
Added simple [LK workflow for GIF images](https://gist.github.com/kmuehlbauer/645e42a53b30752230c08c20a9c964f9#file-xarray_pysteps_gif-ipynb) from meteo swiss. Shows xarray DatasetAccessor feature and some xarray.pipe. Also xarray.rolling capability is shown.

[2019-07-23 07:00] dnerini opened #99 "(failing doc) keep Cython-generated .c files in the repository?"
There is a problem with readthedocs failing to build the pysteps documentation:
https://readthedocs.org/projects/pysteps/builds/9398855/

The problem seems to have appeared with commit d760a639e7fb89754b8145fe4a802efdc0f44c89 ("Add compilation and interface for the Proesmans module").

Any idea what could be the cause? Seems to be related to the compilation of the cython code for the new Proesmans

[2019-07-23 11:48] aperezhortal commented on #99
I think that this is caused by a missing optional dependency: Cython. In the setup.py, when Cython is not found, it will compile the extensions using the c sources:
[code]
The corresponding C source is not available in the repository.

This opens an interesting discussion: should we add Cython as dependency and  remove the C sources. This will create the C sources during the installation process?

[2019-07-23 12:48] dnerini commented on #99
Thanks, @aperezhortal, the explanation makes a lot of sense!

Indeed, it opens an interesting discussion. Personally, I don't see major problems in having Cython as dependency and removing the C sources.

As a third option, we could also imaging keeping Cython as an optional dependency, removing C sources and simply raising a MissingOptionalDependency exception whenever a method requiring Cython i

[2019-07-23 13:03] aperezhortal commented on #99
This will produce an error during the installation, since the modules need to be compiled prior the installation of the package. Once the package is installed, cython is no longer needed.

For example, the Pandas package in conda-forge includes Cython as a dependency in host section. https://github.com/conda-forge/pandas-feedstock/blob/master/recipe/meta.yaml

Since the package managers (pip or co

[2019-07-23 13:08] dnerini commented on #99
But in principle we could simply skip the compilation if cython is not installed.
Anyway, I agree that having cython as mandatory dependency probably represents the best solution.

[2019-07-23 19:41] pulkkins commented on #99
I pushed the missing _proesmans.c to the repository. To me it looks awkward to have Cython-generated .c files in the repository (especially when they contain local user's local paths). I would prefer keeping Cython as an optional dependency because none of the C modules is essential for pysteps.

[2019-07-24 04:42] phong9134 opened #100 "How to use pysteps with real case"
Hi everyone,

I'm really fresh of this field, so I implemented pysteps with my data, but it is not like expecting result. I have some question about that
Hope you can consider it and give me some advice ( or some tutorials)

[2019-07-24 05:16] dnerini commented on #99
Thanks @pulkkins, commit 63db885efc65a74ba50125da40114f7f143ecb17 fixed the problem with the failing documentation.

Regarding now the auto-generated C source code and the Cython dependency, in order to remove the former, we need to adopt the latter, as already discussed above.

That is to say, we have two main options:

1. keep C code in the repository, leave Cython as optional dependency (curren

[2019-07-24 05:19] #93 closed, assigned to dnerini

[2019-07-24 05:51] dnerini commented on #100
Hi @phong9134 and welcome to pysteps!

What kind of unexpected results are you obtaining? It would help if you could provide more detail, including the code and data that you are using in order to be able to recreate the issue that you are having.

From what I understand, you are doing all right: once you have imported your sequence of images, the correct workflow is to compute the motion field an

[2019-07-24 06:06] kmuehlbauer commented on #99
@dnerini Actually the third option would be to adopt [PEP518](https://www.python.org/dev/peps/pep-0518/) and add Cython as a build requirement. Then the .c-files can be removed from the repo and Cython can be removed as direct (optional) dependency.

This would work for all `pip`-based installs. For those who clone the repo and want to use `python setup.py install` a `requirements_devel.txt` can b

[2019-07-24 06:40] pulkkins opened #101 "Suggestions to improve the optical flow interface"
I think the optical flow interface in its current form is inconsistent. For Lucas-Kanade, VET and Proesmans, we should either
  a) allow any number n of input fields, or
  b) use two input fields
In case a), some kind of temporal averaging would be applied to produce a single advection field. I would prefer b) to keep the implementation modular. For n>2, computation of time series of advection fie

[2019-07-24 11:42] aperezhortal commented on #99
@kmuehlbauer, PEP518 is a good option. I was also experimenting with a new setup.py that delays the cythonization until the dependencies are installed by setup.py (install_requires or setup_requires keywords). The later fix will work for in `pip` and `python setup.py install`. But this something that PEP518 tries to avoid in the first place.

I think that this is a good way to go. If the setup.py

[2019-07-24 12:24] kmuehlbauer commented on #99
@aperezhortal PEP518 is currently adopted by more and more packages. The nice thing for users is that their python environment will not be cluttered with the build-time dependencies.

[2019-07-24 13:03] aperezhortal commented on #99
I agree. I was thinking about a solution that implements PEP518 and also checks (but do not install) the setup requirements if the user wants to install the package using `python setup.py install`.

But, maybe we can recommend installing the package from sources using pip (instead calling setup.py)  (even for development): https://packaging.python.org/tutorials/installing-packages/#installing-from

[2019-07-25 05:38] kmuehlbauer commented on #99
@aperezhortal Not sure if this is the best place for my comments regarding build system. In the [refactor_build_system_branch](https://github.com/pySTEPS/pysteps/tree/refactor_build_system) another travis run could be added which checks the install via pip.

[2019-07-25 08:24] dnerini commented on #101
Thank @pulkkins for the suggestions!

I don't have a strong opinion regarding the interface to the optical flow routines. Option b) is certainly the easiest to implement, if we decide to adopt a strict interface for all methods.
However, option b) is not going to be possible with DARTS and more generally for any method that needs more than 2 fields to compute the motion field. So the question is w

[2019-07-25 11:42] aperezhortal commented on #99
@kmuehlbauer, that's a good idea. We can test the installation from a minimal environment using pip.  I'll implement it and see how it goes. Thanks!

[2019-07-25 11:46] kmuehlbauer commented on #99
@aperezhortal If you create a PR from that branch to master, discussion could go along there and we would have the ability to make comments within the changed code.

[2019-07-25 11:54] aperezhortal commented on #100
Hi @phong9134, are you using MaskedArrays as input data? The forecast seems masked almost everywhere in the domain.

In addition, the two input fields that you are using seems quite decorrelated to each other. Visually, it is difficult to see a motion pattern.  That is probably caused by the time difference between the precipitation fields used in VET.

VET is a variational method that minimizes a

[2019-07-25 18:59] kmuehlbauer commented on #99
Just got this on gitter: https://mobile.twitter.com/pganssle/status/1152694289920679936

Tldr; Do not use `python setup install`

[2019-07-26 07:51] dnerini opened #103 "Add Z-R coefficients to metadata"
When available, we should include the Z-R parameters into the metadata.

`zr_a` and `zr_b` are already supported in the `utils.coversion` module when converting to/from reflectivities.

The same attributes are included in the ODIM format, see Table 9 in http://eumetnet.eu/wp-content/uploads/2019/01/ODIM_H5_v23.pdf (thanks @cvelascof ).

[2019-07-28 08:31] dnerini commented on #100
I also advise trying different optical flow methods and see if one produces significantly better results. After all, this is precisely the advantage of using pysteps!

Also, try to pass the input fields using MaskedArrays with the LK method, too, and add a buffer to the mask to improve the retrieval of motion vectors nearby the limits of the radar mask. More info and example [here](https://pysteps

[2019-07-29 13:46] aperezhortal commented on #101
Some considerations regarding VET. When 3 fields are given (t1, t2, t3), the motion field obtained is the one that minimized the sum of the cost function for (t1, t2) + (t2, t3). This gives different results than averaging the motion fields obtained  (t1, t2) and (t2, t3).

Using 3 times steps may be helpful for the convergence of the method and gives a better motion field.
But, using 2 fields als

[2019-07-31 10:49] dnerini commented on #101
Another aspect that could be improved with respect to the optical flow methods interface is the support of masked arrays. Currently it is possible to pass masked arrays (or np.nan) only to the VET and LK methods.

[2019-07-31 13:06] RubenImhoff commented on #27
I think I have missed this post, but definitely worth considering!
Black seems to work well. Good suggestion, Daniele.

[2019-07-31 13:23] aperezhortal commented on #27
The refactoring of the build system (PR #102) includes a configuration for black in the [pyproject.toml](https://github.com/pySTEPS/pysteps/blob/refactor_build_system/pyproject.toml) file.

When black is run in any pysteps sub-directory, it looks upwards until it finds the file and use the default configuration ([more info here](https://black.readthedocs.io/en/stable/pyproject_toml.html#where-blac

[2019-07-31 23:41] pulkkins commented on #101
In addition, the docstring of each method should specify how nan values are treated. Also make sure to throw an exception if the method is not able to handle nan values or masked arrays.

[2019-08-02 09:23] dnerini commented on #103
I'm closing this issue, even though it was only partially addressed by #104 .
Still to do, where possible, to have the z-r parameters taken from the dataset attributes instead of having them hardcoded.

[2019-08-02 09:23] #103 closed, assigned to dnerini, pulkkins

[2019-08-02 13:58] dnerini commented on #99
PR #102 closes this issue, thanks everyone for the nice and constructive discussion!

[2019-08-02 13:58] #99 closed, assigned to dnerini, aperezhortal, pulkkins, cvelascof

[2019-08-05 09:27] dnerini opened #108 "R_thr argument in SPROG"
There are some inconsistencies with respect to the `R_thr `argument in the `pysteps.nowcasts.sprog.forecast` method:

- the description of the `R_thr` argument mentions a `mask_method` argument which does not exist.
- `R_thr` is required when `probmatching_method="mean"` ([here](https://github.com/pySTEPS/pysteps/blob/856f5677afd74f6b54f01d17b1e164420a5b9f74/pysteps/nowcasts/sprog.py#L250))
- `R_t

[2019-08-07 07:46] dnerini commented on #100
I suggest to close the issue for now.

[2019-08-07 07:46] #100 closed, assigned to nobody

[2019-08-07 07:51] dnerini commented on #27
I would say that including the black configuration in PR #102 and the new [Code style](https://pysteps.readthedocs.io/en/latest/developer_guide/contributors_guidelines.html#code-style) section in the documentation close this issue.

The repository in still not fully PEP8 compliant, but we have now a good ground to improve on that.

[2019-08-08 08:09] pulkkins commented on #108
This has been fixed in commit 4567643.

[2019-08-09 15:14] aperezhortal commented on #27
What about if we leave it open until we reach a good PEP8 compliance coverage? We are at pretty a pretty low value right now.

[2019-08-10 12:58] aperezhortal opened #109 "Proesmans function returns nan for zero precipitation fields"
@pulkkins, the proesmans module is returning nan when the input fields haves zero precipitation in the entire domain. Is this an expected behavior?

Below the snippet to reproduce the problem:
[code]

[2019-08-13 13:40] #108 closed, assigned to pulkkins

[2019-08-16 19:54] pulkkins commented on #109
This has been fixed in commit b0b0f4e.

[2019-08-16 19:54] #109 closed, assigned to pulkkins

[2019-08-19 10:59] dnerini commented on #101
#110 closes this issue.

[2019-08-19 10:59] #101 closed, assigned to dnerini, pulkkins

[2019-08-23 16:00] aperezhortal commented on #68
Since we first raised this issue, the User reference (and the documentation in general) had improved a lot, with many examples that helps new users to get started quickly.

Commit b7f8befeb1e1631efb15a0eb19445352cfe09d3b removes the "Under development" tag form the User reference, thus, closing this issue :tada::tada::tada:

[2019-08-23 16:00] #68 closed, assigned to dnerini

[2019-08-26 11:11] pulkkins opened #115 "Improvement of the AR model"
The pysteps.timeseries.autoregression module implements only a very basic version of the AR(p) model. More advanced time series models and parameter estimation methods could be implemented. For instance:

1) Some users have expressed their interest to applying the S-PROG and STEPS models to input data, where the time intervals between consecutive inputs are not regular. This cannot be done with th

[2019-08-26 12:55] dnerini commented on #115
These are all excellent ideas! I'm particularly interested to the developments towards more sophisticated time models, such as ARMA and VAR.

[2019-08-30 00:37] pulkkins opened #116 "Implement GeoTIFF exporter"
Some users have expressed their interest to read the pysteps output in GeoTIFF format. This is because GeoTIFF is the standard format for GIS applications (e.g. QGIS). Being able to easily import pysteps output into GIS applications would be especially helpful for visualization purposes.

[2019-08-30 05:33] kmuehlbauer commented on #116
@pulkkins You might not want to pull in wradlib as a dependency, but maybe your users (eg. me) already have it installed. Then you might get some inspiration from [this wradlib-notebook](https://docs.wradlib.org/en/stable/notebooks/fileio/wradlib_gis_export_example.html). This uses GDAL as another big dependency (which QGIS users normally also have installed). It can output to all available GDAL r

[2019-09-09 00:56] marack opened #120 "NetCDF exporter broken with netcdf4-python >= 1.5.1"
The netcdf exporter is throwing an exception when used with recent versions of the netCDF4 python module.  This is due to the following lines (similar for `lat`):

[code]

The `lon` and `lat` variables are flat 1D arrays, but they are being assigned into 2D NetCDF variables.

In earlier versions of netCDF4 this was permissible.  As of version 1.5.1 this behaviour is now illegal and throws an excep

[2019-09-09 01:30] aperezhortal commented on #116
PR #118 closes this issue.

[2019-09-09 01:30] #116 closed, assigned to pulkkins

[2019-09-09 01:45] marack commented on #120
Note for others, I'm currently working around this by explicitly downgrading the `netcdf4` module to version 1.5.0 (`conda install netcdf=1.5.0`).

[2019-09-09 07:57] RubenImhoff commented on #120
I noticed this too yesterday. Downgrading the netCDF4 module is a good quick-and-dirty fix. With netCDF4 < 1.5.1, assigning a 2D array to the netCDF variables works too, right? In that case, I would propose to just fix the code appropriately and thus reshape lat and lon to 2D arrays. This should be a relatively easy fix.

[2019-09-09 08:35] cvelascof commented on #120
working on this, and adding a test as well.

[2019-09-11 20:39] aperezhortal commented on #120
Hi @marack, PR #122 closes this issue. Feel free to re-open it if you experience any issues.

[2019-09-11 20:39] #120 closed, assigned to pulkkins, cvelascof, RubenImhoff

[2019-09-13 10:50] dnerini commented on #12
Trying to advance this issue, I've drafted a PR which aims at including some (partial) support for xarray within pysteps, as well as a tutorial (based on @kmuehlbauer's excellent gist) to show how xarray can be integrated into pysteps.

Any help and feedback is very welcomed!

PR: https://github.com/pySTEPS/pysteps/pull/123

[2019-09-26 08:50] wcwoo opened #124 "Calling pySTEPS from Com-SWIRLS/SwirlsPy"
Hi! We are about to release SwirlsPy 2.0.8, which enables calling pySTEPS' methods from SwirlsPy.  I envisage that it would be useful for comparison of nowcasting schemes and multi-model ensemble.

I've since drafted an announcement, a part of which as follow:

The paragraph serves as an acknowledgement of pySTEPS, but then I came to realize that according to the BSD 3-clause:

Out of prudence, ma

[2019-09-26 09:29] dnerini commented on #124
Hi @wcwoo! Thanks for the good news and congratulations on the new release!
The way I see it, this is more an acknowledgment, rather than the promotion/endorsement of a product. Hence, you can keep the announcement as it is, no problem.
Please let us know of any feedback from SwirlsPy users using pysteps methods!

[2019-09-27 02:27] wcwoo commented on #124
Thanks a lot!  We've just launched the release.

Apparently we will be the first user to use pySTEPS from SwirlsPy :)  I'll let you know once we put it into operation.

[2019-09-27 02:27] #124 closed, assigned to nobody

[2019-10-02 08:12] wcwoo commented on #12
I've been pondering how to make our modules more inter-operable.  Imagine that we manage to standardize the data interface, then there would be no need for any wrapper.  The user script could be slimmer and cleaner.

For example, wradlib's codes would take in a radar file and output an xarray (DataArray or Dataset), which then can be passed directly to pySTEPS' or SwirlsPy's modules for nowcasting

[2019-10-02 08:27] kmuehlbauer commented on #12
This is something the user should decide. It's just a question of how much magic you want to put in the implementation. Keep it simple might be a good approach.

I would be in favour of adopting CF conventions. This is standard for most atmospheric science data.

This is implementation detail, for `start_time` aligned measurements the data is valid from `start_time` to next `start_time`, for `end_

[2019-10-03 02:48] wcwoo commented on #12
Agreed that we should keep it simple, at least for the start.

Agreed.

Indeed it would be clearer to use start_time and end_time, instead of just time.  Some modules would have to deal with the change from start_time to end_time, e.g. when deriving rainfall amount from radar.  Given that it is an already established convention to mark satellite & radar with start_time and rain gauge & lightning w

[2019-10-31 01:13] abdullahali-radar opened #128 "EEC radar data"
Is it possible to process EEC radar data (netcdf or hdf5 format) ?
We have a lot of weather radar and we need this very nice thing.

[2019-10-31 13:40] aperezhortal commented on #128
Hello @abdullahali-radar, the ECC data that you are referring to, are 2D composites or 3D polar scans?

The optical flow and extrapolation methods in pysteps uses 2D cartesian grids to retrieve the motion vectors and extrapolate the precipitation fields.

Right now, pysteps does not have importers for ECC format. But, If you have a 2D in netcdf format you can use the netCDF4 to read the files and

[2019-11-01 01:46] abdullahali-radar commented on #128
@aperezhortal
Oh I see now. We are able to extract the 3D polar scan and get the max reflectivity in 2D numpy array with wradlib.
After I get the 2D numpy array, what function that I can use to do the optical flow and extrapolation?

[2019-11-01 07:35] dnerini commented on #128
Hi @abdullahali-radar and welcome to pysteps!
In the documention, you will find a gallery of examples that shows how to use the basic methods of the library, including optical flow and extrapolation:
https://pysteps.readthedocs.io/en/latest/auto_examples/index.html

We also have a slack channel where you can ask for more support and discuss your implementation. If you want to join it, just send me

[2019-11-01 09:22] abdullahali-radar commented on #128
Hi @dnerini,
I will read carefully and try to understand the example. I've already install the pysteps but always fail when try to download the example data.

Yes, that's exactly what I want. Here is my email : [edit: removed address]. Waiting for your invitation!

[2019-11-01 09:22] #128 closed, assigned to nobody

[2019-11-01 15:28] aperezhortal commented on #128
@abdullahali-radar, if you are still having issues downloading the example data, feel free to open an issue in the [pysteps-data GitHub issue tracker](https://github.com/pySTEPS/pysteps-data/issues) and we can follow up the problem from there.

[2019-12-01 04:27] pulkkins opened #129 "Implement support for three-dimensional input data"
Using three-dimensional input data from full radar volumes (instead of lowest-angle PPI or a low-level CAPPI) for extrapolation-based nowcasting is showing great promise. A number of papers have already been published about this. Therefore, it would be highly useful to implement support for three-dimensional input data into pysteps. There are several interesting ideas that could be implemented:

1

[2019-12-01 14:21] dnerini commented on #129
Hi Seppo

This sounds all very exciting and would represent an excellent contribution to pysteps!
Similar developments are also being explored in machine learning approches to nowcasting (eg. [this paper](https://www.mdpi.com/2072-4292/11/19/2303/htm) from Tran and Song).

Concerning point 1, I'm not sure how this fits within pysteps: computing the VIL is somewhat equivalent to computing the QPE f

[2019-12-02 22:13] pulkkins commented on #129
Hi,

Thanks for your insightful comments. I have been thinking this a little bit more and came up with the following.

Point 1: I completely agree that computation of the VIL should be kept outside pysteps. I just wanted to point out that if you have reflectivity interpolated to a 3d grid, computation of the VIL is trivial to implement.

Point 2: Computation of a 3d advection field is an interesti

[2019-12-14 15:09] g0lemXIV commented on #20
Hello, I have the same problem too. I want to implement PySteps in one nowcasting system but I don't fully understand the convention in the metadata dictionary. That why I have a few questions:
1. How to interpret x1, y1, x2, y2 in metadata
2. How to interpret yorgin
3. How can I make a 'projection'  in the dictionary
4. What are the threshold and zero-value

In my raw radar data images I have a h

[2019-12-16 11:49] dnerini commented on #20
Hi @g0lemXIV and welcome to pysteps!

You can find a description of the metadata in the pysteps reference [documentation](https://pysteps.readthedocs.io/en/latest/pysteps_reference/io.html#pysteps-io-importers).
Please let us know if you find the information in there not clear enough or incomplete so that we can improve it!

To answer your questions:

x1, y1, x2, y2 define the bounding box of your

[2019-12-18 08:52] Yuchaowni opened #130 "error in _interpolator()"
I think there is an error in the _interpolator() function of models.py:

at line 606:
[code]

I think trg and src should exchange their positions.

[2019-12-18 09:17] dnerini commented on #130
Hi @Yuchaowni

Thanks for your bug report! Can you please link the piece of code that you looking at? I'm not aware of any pysteps module named "models.py".

[2019-12-19 04:33] Yuchaowni commented on #130
Thank you for your reply. Sorry, it turns out that I had mistaken the source of this code.

[2019-12-19 04:33] #130 closed, assigned to dnerini

[2019-12-20 16:06] dnerini commented on #130
https://github.com/hydrogo/rainymotion/blob/master/rainymotion/models.py @hydrogo
;-)

[2019-12-21 05:39] hydrogo commented on #130
Solved ;-)

[2020-01-24 15:03] dnerini commented on #115
@pulkkins what's the progress on this issue? I've added for now the "release v1.2" milestone (which will mainly include the spectral version of steps), but if this needs more time, we can also include it in a successive release.

[2020-01-27 07:02] pulkkins commented on #115
@dnerini I have implemented the first versions of VAR and ARI models and parameter estimation by OLS. After the testing, that I will do this week, these are ready to be included to v1.2. The remaining items in the above list still need more work.

[2020-01-28 07:21] dnerini commented on #78
I suppose #133 closes this issue?

Great piece of work @pulkkins !

[2020-01-28 07:21] #78 closed, assigned to nobody

[2020-01-29 09:55] dnerini commented on #115
Excellent, thanks @pulkkins.

We wait for these features to be merged into master before releasing v1.2.

(I remove the v1.2 milestone from this issue, since part of it will be released later on.)

[2020-02-12 17:58] dnerini opened #136 "Python>=3.6"
Currently python=3.6 is required when installing pysteps, for example in the environment files:

https://github.com/pySTEPS/pysteps/blob/c326210a4107012250b4975314bd64d41cacf5e4/environment.yml#L6

https://github.com/pySTEPS/pysteps/blob/1307ab810efa303a836c31532d2da2942d148161/environment_dev.yml#L7

but also when running Travis CI and tox:

https://github.com/pySTEPS/pysteps/blob/c326210a4107012

[2020-02-17 08:29] dnerini commented on #136
The build fails on macOS for python=3.8 because of an UnsatisfiableError from conda:
https://github.com/pySTEPS/pysteps/runs/449949227

[code]

Need to dig a bit into this. Any help is appreciated.

[2020-02-18 12:34] aperezhortal commented on #136
https://github.com/pySTEPS/pysteps/runs/449949227

It seems that for OsX and python3.8, basemap and cartopy are incompatible.

Removing basemaps from the dependencies solves the conda environment issue.

Since **basemap** is no longer supported, maybe we should consider leaving Cartopy as the only backend in a future release (#8)

[2020-02-18 19:15] dnerini commented on #136
Brilliant, thanks a lot @aperezhortal !
This effectively solved the failing build on Travis:
https://travis-ci.com/pySTEPS/pysteps/builds/149503295

[2020-02-19 06:49] dnerini commented on #136
#138 closes this issue.

[2020-02-19 06:49] #136 closed, assigned to dnerini, aperezhortal

[2020-02-20 10:29] fox91 opened #140 "Use logging instead of print"
Are you interested in migrating all log messages from the simple `print` to the more standard `logging` module?

Given the high number of logs that the outputs are written I think it may be useful to many to have a common method to manage them.

Let me know if you want my contribution to introduce the use of the `logging` module in this fantastic framework!

[2020-02-20 12:29] dnerini commented on #140
Hi Andrea, welcome to pysteps!

This is an excellent proposition and certainly very appropriated considering the stage at which the package is now.
I'm in favor of such development, let's see if anyone else has a strong opinion about that. Perhaps @pulkkins, @aperezhortal or @cvelascof ?

I'm also happy to contribute, in case we decide to take this idea forward. Perhaps it would be interesting if

[2020-02-20 12:43] aperezhortal commented on #140
Hi Andrea, I really like the idea!  With the *logging* module with can have fine control of the logging output. Perhaps we can start the logging implementation one module at a time.

[2020-02-20 14:24] fox91 commented on #140
Hi Daniele and Andres,
I can make a PR in the next days implementing the `logging` module in the `pysteps.nowcasts` module that I'm currently using.
After that we can implement it in the others and, when all the modules are updated, we can merge the PR everything at once.

[2020-02-20 15:01] dnerini commented on #140
Sounds excellent!

[2020-04-07 22:47] aperezhortal opened #144 "AttrDict package is inactive"
Running the pysteps tests I found a few warnings related to the AttrDict package:

[code]

As the warning says, this will cause an error in python 3.9 versions. Since the package has been tagged as inactive and the GitHub repository has been archived, there is a minor chance that a new version of the package that fixes this issue will be released.

The AttrDict is used in pysteps to access the def

[2020-04-13 16:12] #144 closed, assigned to nobody

[2020-04-28 16:21] dnerini commented on #27
#155 closes this

[2020-04-28 16:21] #27 closed, assigned to aperezhortal

[2020-05-09 04:41] jctw2008 opened #156 "Windows installation"
I tried to place the pystepsrc parameters file in the users folder by following the institution and found that the correct configuration file cannot be loaded by the library. The library’s default rc file was still in the original directory. Is that anything I miss? Many thanks.

P.S. I can see the rc file was copied in the %USERPROFILE%/pysteps/ though.

[2020-05-09 21:47] aperezhortal commented on #156
Hi @jctw2008. I checked in a windows installation where pysteps look for the config files and everything seems to be running as expected.

To check the sequence of configuration paths where pysteps looks you can run the following script:
[code]
Does any of those paths point to the `pystepsrc` file that you copied following the installation instructions?

Note that  `%USERPROFILE%"`indicates the sy

[2020-05-10 02:47] jctw2008 commented on #156
Hi @aperezhortal Thank you for the reply.
I can see one of the paths was pointed to `C:\Users\my_user_name\pysteps\pystepsrc`. So that means everything is running as expected.

Another question, I followed the code to download the sample data, it showed the `PermissionError: [Errno 13] Permission denied: 'C:\\Users\\jerry\\AppData\\Local\\Temp\\tmpeun1qgfz' `
I can see the `pysteps_data` folder wa

[2020-05-10 14:08] aperezhortal commented on #156
To be sure that the correct file is loaded when pysteps is imported, you can run:

[code]

I saw the same error in my windows setup. Thanks for pointing this out. I will take a look at it.

[2020-05-11 12:12] jctw2008 commented on #156
I think I figure out the reason why the rc file is not loaded properly, because I run `$ mkdir -p %USERPROFILE%\pysteps` in the **anaconda terminal**, then a new folder `%USERPROFILE%` was created in my home directory.
I followed the setup up instruction in windows command terminal, it worked and showed `Pysteps configuration file found at: C:\Users\jerry\pysteps\pystepsrc` after running the code

[2020-05-12 06:00] jctw2008 commented on #156
one more comment, the code `$ cp C:\path\to\pysteps\library\pystepsrc %USERPROFILE%\pysteps\pystepsrc` should be `$ copy C:\path\to\pysteps\library\pystepsrc %USERPROFILE%\pysteps\pystepsrc` in windows terminal

[2020-05-17 15:09] #156 closed, assigned to aperezhortal

[2020-06-04 13:36] juanpablosimarro opened #158 "memory usage for ensemble too big"
Hello,

I'm trying to do the example plot_steps_nowcast.py from pySTEPS using OPERA.
The memory usage is big, more than 20 Gb.
Is is normal?

Thank you

Juan

[2020-06-04 13:51] pulkkins commented on #158
Considering the large size of the OPERA mosaics, this sounds normal if you are using 20 ensemble members. To reduce the memory usage, you can try passing domain="spectral" to steps.forecast.

[2020-06-05 08:57] juanpablosimarro commented on #158
Thank you, that helps.

[2020-06-05 09:16] dnerini commented on #158
Good to hear! Do not hesitate to share your findings with us, does using the spectral domain reduce considerably the memory footprint of steps.forecast? By how much?

I just wanted to add that typically steps is run on relatively limited domains (order of 500 x 500 km). This has to do with the computational cost, but also because STEPS assumes stationarity of the rainfall statistics (mean, varianc

[2020-06-05 09:16] #158 closed, assigned to nobody

[2020-06-28 08:16] galilley commented on #30
Python 2.7.16 and PyFFTW 0.12.0. It seems I observe similar behavior when use pyfftw with pyofss together - wrong values (nan) though all array and segfault from time to time. Could you recomend how I cam obtain more info for debugging?

p.s. yes, I know that py2 is not supported but I can't make the test with py3 right now.

p.p.s. I'm sorry if this message  to the wrong thread as I use pyfftw na

[2020-06-30 05:33] dnerini commented on #30
Hello @galilley, I suggest to ask directly the [pyfftw](https://github.com/pyFFTW/pyFFTW) project. Good luck with your issue!

[2020-07-01 16:10] juanpablosimarro opened #159 "lat/lon of grid points"
Hello,

I wonder if there is a method to get the longitudes and latitudes of all grid points. From this code:

importer = io.get_method(importer_name, "importer")
Z, _, metadata = io.read_timeseries(fns, importer, **importer_kwargs)

Given Z and metadata from the file (HDF5 or other format), is there a method to get the longitude and latitude of the grid points of Z given the information kept in m

[2020-07-02 11:27] pulkkins commented on #159
This feature has not been implemented in pysteps. Implementing an utility function for doing this could be useful.

In the meanwhile, you can use the following example:

import numpy as np
import pyproj

xr = np.arange(geodata["x1"], geodata["x2"], geodata["xpixelsize"])
xr += 0.5 * (xr[1] - xr[0])
yr = np.arange(geodata["y1"], geodata["y2"], geodata["ypixelsize"])
yr += 0.5 * (yr[1] - yr[0])
grid

[2020-07-02 11:43] pulkkins commented on #159
**Correction:** a similar piece of code is used in io.exporters.initialize_forecast_exporter_netcdf. It's not too much effort to implement that in a separate utility function.

[2020-07-04 09:08] dnerini commented on #159
Hello @juanpablosimarro, @pulkkins already provided you with some good answers to your problem. Let us know should you need more support.

@pulkkins, maybe what you suggest could be flagged as a good first issue? @juanpablosimarro would you be interested in having a go at it?

[2020-07-06 11:16] juanpablosimarro commented on #159
Hello,
Thank you for your answers.
I will try today to use those solutions. If I encounter any problem, I will report here.
King regards
Juan

[2020-07-07 10:10] juanpablosimarro commented on #159
Hello again,
I had problems with the exporters and OPERA.
The code you provide above works well except that it is necessary to reverse the order of the y axis:
grid_x, grid_y = np.meshgrid(xr, np.flip(yr))
Thanks again!

[2020-07-16 11:00] dnerini opened #161 "Travis CI build for macOSX fails"
Looks like there is an issue when building the package for macOSX: https://travis-ci.com/github/pySTEPS/pysteps/builds/174081791.

_Originally posted by @dnerini in https://github.com/pySTEPS/pysteps/pull/160#issuecomment-659329553_

[2020-07-22 08:40] dnerini commented on #161
Updating the osx image to xcode12 seems to fix the problem, see fb82dbf. PR #162 closes this issue.

[2020-07-22 08:40] #161 closed, assigned to nobody

[2020-08-05 11:04] fionaRust opened #163 "Padding bug in VET motion code"
Whilst using the VET motion code we uncovered a bug when using the padding option:

- When using a masked array as input the padding isn't added to the array, but it is still removed before returning the calculated velocity fields, resulting in velocity fields the is smaller in the x and y dimensions than the input arrays.
- When using an array without a mask the padding is added and removed corre

[2020-08-05 11:47] aperezhortal commented on #163
Hi @fionaRust, welcome to PySteps!

Indeed the portion of code that you pointed out is causing the issue since the padding is not been handled correctly. Thanks for finding the issue! I will fix it shortly.

[2020-08-06 13:03] miaoneng opened #165 "Incorrect plot_geography call when plotting motion field over map"
The plotting function in `pysteps.visualization.precipfields` and `pysteps.visualization.motionfields` are very different, and the one in `motionfields.py` doesn't match documented API.

`motionfields.py:136` requests key `xpixelsize` and key `ypixelsize` from `geodata` but not documented, and implementation on `precipfields` is different (not using it). Later when it calls `plot_geography`, it pu

[2020-08-06 13:21] dnerini commented on #165
Hello @striges, welcome to pysteps and thanks for reporting this issue with the visualization methods.
I'll gladly have a look into it.

[2020-08-06 15:29] aperezhortal commented on #163
PR #164 should close this issue. @fionaRust feel free to re-open it if you experience any problems.

[2020-08-11 19:39] #163 closed, assigned to nobody

[2020-08-12 07:02] dnerini opened #167 "test_timeseries_autoregression.py takes too long"
We are often experiencing failing builds on Travis CI because of exceeded time limit during unit tests (*), e.g. [here](https://travis-ci.com/github/pySTEPS/pysteps/jobs/370992466).

Among all tests, those within `test_timeseries_autoregression.py` appear to be among the slowests:
[code]

I wonder if there is an easy way to optimize the routines in `test_timeseries_autoregression.py` so that they

[2020-08-12 07:53] pulkkins commented on #167
This can be solved by simply reducing the size of the datasets. I'll do that.

[2020-08-12 08:24] #165 closed, assigned to dnerini

[2020-08-12 08:26] dnerini commented on #165
PR #166 should close this issue. @striges feel free to re-open it if you experience any problems.

[2020-08-12 13:46] dnerini commented on #167
Well done, commit f342966c2d73c8e8f882db758efcd73f3ec8920e considerably improves it:
[code]

[2020-08-12 13:46] #167 closed, assigned to pulkkins

[2020-08-13 21:18] willh-3 opened #168 "Plotting static boxes over map during animation"
I would like plot static boxes, basic x,y lat/lon coords over the map while the radar image is animated. Almost similar to a tornado or t-storm warning/watch box.

Any ideas on how to do this?

My attempt for reference. part of main script:

[code]

changing plot_precip_field function

[code]

Changing animate function:

[code]
My thinking is that I use the variables x,y in the main script and pas

[2020-08-14 12:18] dnerini commented on #168
Hello @willh-3 and welcome to pysteps!

I'm happy to support you on this, but it would help if you could provide more precise information, as for example the complete error message that you get with the code above.

From what I can see, looks like the error is caused by the variables `x` and `y` not being defined in the modified `plot_precip_field` function. Maybe simply adding `x, y = xy` will he

[2020-08-14 16:58] miaoneng opened #169 "Options for quiverkey when plotting motion fields"
It would be good to give an option that allow a quiverkey (legend) to be added to motion fields, otherwise it would be difficult to accurately read speed from motion plots.

See example below

![20200814_090036](https://user-images.githubusercontent.com/834592/90273721-66ee2880-de2d-11ea-9a0b-dca381101f38.png)

Since `quiver` function didn't return a quiver object, so it is hard to do that after t

[2020-08-14 20:39] willh-3 commented on #168
That was actually it! Thanks for the help, and a great product.

[2020-08-14 20:39] #168 closed, assigned to nobody

[2020-08-16 08:18] dnerini commented on #169
Hello @striges, your suggestion would certainly make a good addition to the `quiver` method in the `motionfields` visualization module. As you mention, your code would need to be more general so that it can handle any data resolution (default units could be "px timestep-1"). Would you like to give it a try and submit a PR ?

edit: you can find some guidelines about contributing to pysteps [here](h

[2020-09-01 13:22] chiara-arpae opened #171 "Impossible importing quality data by importer_opera_hdf5"
Hi! I tried importing quality data from hdf5 files by Italian DPC ( Dipartimento della Protezione Civile).
These are OPERA HDF5 files conforming to the ODIM specification.
I read rainrate data using the importer 'opera_hdf5', but not quality data.
Actually, in the implementation file of the importers (importers.py), the path where quality dataset is searched does not correspond to the correct posi

[2020-10-08 07:22] #171 closed, assigned to nobody

[2020-10-21 10:32] pulkkins opened #176 "Allow more flexible output time steps"
Currently the nowcast methods implemented in pysteps produce outputs having the same time step with the inputs. Several users have expressed their interest to relax this requirement. This would be needed for computing nowcasts of accumulated rainfall. For instance, if the time interval between the inputs is 5-15 minutes, the output time step is too coarse for computing accurate hourly accumulation

[2020-11-08 09:28] dnerini opened #179 "Deprecate basemap"
For me it looks like there is no reason to use basemap anymore. In 0.18.0b1, they finally added a feature that was missing from cartopy. Namely, lon-lat labeling with different projections (https://github.com/SciTools/cartopy/pull/1117).

_Originally posted by @pulkkins in https://github.com/pySTEPS/pysteps/pull/177#issuecomment-722934843_

[2020-11-16 15:24] pulkkins opened #182 "Improve the semi-Lagrangian extrapolation"
A closer investigation is needed to verify that the semi-Lagrangian extrapolation (pysteps.extrapolation.semilagrangian) is working correctly. It appears to produce visible artefacts in some cases. See the example below, which shows six-step extrapolation applied to a smooth precipitation field obtained by convolution.

Similar artefacts appear with all optical flow methods, so I believe the probl

[2020-11-16 16:11] dnerini commented on #182
Interesting, thanks for pointing this out, @pulkkins !
Could it be related to the order of the spline interpolation? Currently we use `order=0` in `ndimage.map_coordinates`.

[2020-11-16 16:37] pulkkins commented on #182
The choice for order=0 was made for a good reason. If the inputs contain nan values (i.e. those outside the radar mask), choosing order=1 or order=2 yields large regions of nan values in the output. I guess this is because high-order interpolation needs a large number of neighbors.

[2020-11-16 23:28] pulkkins commented on #182
It turned out that `order=0` gives nearest interpolation. This is not what we want and probably explains those artefacts. Therefore I made a commit to use `order=1` (linear interpolation). It computes interpolated values from four nearest pixels by omitting nans. Cubic interpolation (`order=3`) with `prefilter=True` would probably be the best option but I haven't figured out how to make it handle

[2020-11-17 07:33] dnerini commented on #182
Very nice that you found a plausible cause. It would be interesting to see whether using linear interpolation instead of nearest interpolation affects the performance of the advection routine, especially in case of large domains.

Would it be possible to compare the two settings in terms of memory and computing time?

[2020-11-17 08:40] pulkkins commented on #182
I'll do that and create a separate branch for testing. I also changed the default order back to 0 in the master. More testing is needed.

[2020-11-17 10:10] 5fcgdaeb opened #183 "Odd Flow Direction during STEPS nowcast"
I am trying to nowcast using the `STEPS` forecast method with the following details:

[code]

It usually yields pretty good results but it has predicted an odd forecast for a case of mine. I am attaching the observations (input) and the forecasts (output) as video but I can surely provide the raw files as well.

### Observations
![observed](https://user-images.githubusercontent.com/877496/99376400

[2020-11-17 12:03] pulkkins commented on #183
I believe this is because of limitations in the Lucas-Kanade method (and optical flow in general). There is growth of new precipitation especially in the lower part of your domain. In such cases the advection velocities cannot be reliably determined. Have you tested with other optical flow methods?

[2020-11-17 15:21] 5fcgdaeb commented on #183
Oh, I see! I figured the new precipitation fields would be the source of the issue. In that case, I can try zooming in a bit more to make sure that I run the nowcast on a smaller, more focused area.

@pulkkins Which optical flow method would you recommend for this case?

[2020-11-19 11:47] pulkkins commented on #183
You can try the Proesmans method. It gives a quality measure for the advection velocities based on forward-backward consistency. Based on the consistency, you can replace unreliable advection velocities by interpolation from those that are known to be reliable.

[2020-11-19 14:13] ritvje opened #185 "Wrong link to reference article in Lucas-Kanade docs"
In the Lucas-Kanade function documentation (e.g. [here](https://pysteps.readthedocs.io/en/latest/generated/pysteps.motion.lucaskanade.dense_lucaskanade.html#pysteps.motion.lucaskanade.dense_lucaskanade)) there is a wrong link to the first referenced article.
The reference is currently
[code]
But the doi link goes to some other article. I didn't find a DOI for the article, but at least in the [Open

[2020-11-20 06:57] dnerini commented on #185
Hello @ritvje, thanks for pointing this out! I'll remove the wrong DOI from the references once #178 is merged into master.

[2020-11-20 07:24] dnerini commented on #183
Hello @5fcgdaeb

On top of what @pulkkins already suggested, I'd like to say that LK is quite sensitive to the motion of the precipitation mask itself, that is, the limit between precipitation and non-precipitation. This is because the dry/wet transition is very sharp, meaning that the gradient is high, which is the criterion used by the Shi-Tomasi feature detection algorithm to define a good feat

[2020-11-20 13:23] 5fcgdaeb commented on #183
This is excellent @dnerini, thanks! It gives so much insight into how the nowcasts are generated. I will now take a closer look at the examples gallery with this in mind.

I think we can close this issue, I do know where to look and what to do in case I see such odd flows/results.

Thanks everyone, really appreciated.

[2020-11-20 13:23] #183 closed, assigned to nobody

[2020-11-21 10:27] #179 closed, assigned to dnerini, pulkkins

[2020-11-22 21:01] #182 closed, assigned to pulkkins

[2020-12-04 17:02] #185 closed, assigned to dnerini

[2020-12-10 06:46] dnerini commented on #176
#191 was merged, can we close this? @pulkkins

[2020-12-10 06:50] #14 closed, assigned to pulkkins, pkars

[2020-12-10 07:55] #176 closed, assigned to pulkkins

[2020-12-15 12:56] pkars opened #193 "Pysteps is not available for Python 3.9 in conda-forge"
Trying to install pysteps (1.4.0) in conda environment with Python 3.9 fails. This is because there is no pysteps package marked for that Python version. Running `conda search pysteps=1.4.0` shows that there are packages only for Python 3.6, 3.7 and 3.8.

As a workaround, installing pysteps with pip works under Python 3.9.

[2020-12-15 13:14] aperezhortal commented on #193
Hi @pkars, that is correct. We are having issues building the conda package for python 3.9 in windows and osx.
There is a [PR open in the pysteps-feedstock](https://github.com/conda-forge/pysteps-feedstock/pull/11) to include the latest python version. But some tests are failing because conda can't resolve the dependencies for pysteps. This seems to be an issue with the conda packages available fo

[2020-12-16 06:05] pkars commented on #193
Hi @aperezhortal, thanks for the response and the link to the pysteps-feedstock PR. Hopefully the conda issue gets resolved soon!

[2020-12-17 15:59] jleinonen opened #194 "Incorrect output from decluster when n=1"
**Description**

The function `pysteps.utils.cleansing.decluster` returns the first output with an incorrect shape in the specific case of `n==1`.

**How to reproduce**

[code]
Prints:
[code]

**Expected output**

According to the documentation of the `decluster` function:
[code]

That is, both outputs should have `ndim==2` even in the edge case of `n==1`.

**Notes**

I didn't examine this through

[2020-12-17 17:24] dnerini commented on #194
Hi @jleinonen and thanks for the detailed description - I'll have a look into it!

[2020-12-19 09:30] dnerini opened #196 "Local Lagrangian probability forecasts"
I was wondering whether it could be possible to extend the `extrapolation.semilagrangian.extrapolate` method to include a stochastic component. This could be implemented as random deviation around the coordinates at which the precipitation field is evaluated. In practice, line 213

https://github.com/pySTEPS/pysteps/blob/e2c3484ef234e3ef1ac8f1f11b1e64bc6911f35c/pysteps/extrapolation/semilagrangian

[2020-12-26 16:00] #194 closed, assigned to dnerini

[2020-12-30 15:57] dnerini opened #197 "Call of `basemaps.plot_geography` clears existing cartopy axis"
Original report
----------------
(by Valentina Gregori)

Explanation
------------

With version 1.4, by default all visualization routines try to plot a basemap with Cartopy. Therefore, calling `plot_precip_field` and `quiver` in succession (with Cartopy installed) produces a double call to `basemaps.plot_geography`.  The latter will clear any existing axis to initialize a new Cartopy axis, which

[2020-12-30 16:19] dnerini opened #198 "`dB_transform` ignores existing metadata"
Original report
----------------
(by Valentina Gregori)

[2021-01-04 23:22] pulkkins commented on #196
That would be a very nice addition to pysteps. In my opinion, we should to implement it in a separate routine and keep the basic method in `extrapolation.semilagrangian`.

[2021-01-05 12:55] RubenImhoff opened #200 "netCDF exporter does not contain any time steps"
I may have a potential issue:
I have a test script for pysteps to make ensemble nowcasts, just to check whether everything works fine. It saves the nowcasts in a netcdf, but the netcdf does not contain any timesteps in the rainfall data when using pysteps 1.4. It seems that this is caused by the changes in ./nowcasts/steps.py. If I use steps.py from version 1.3, the script works fine and the outpu

[2021-01-05 12:57] RubenImhoff commented on #200
[code]

[2021-01-05 21:30] pulkkins commented on #200
Transition between pysteps 1.3 and 1.4 introduced a bug in the callback function used in steps and sseps. The arrays supplied to the callback had incorrect shapes. The problem should be fixed with commit cf34300.

[2021-01-06 07:25] RubenImhoff commented on #200
Thanks a lot, @pulkkins! I'll test it and close the issue if everything works.

[2021-01-06 08:00] RubenImhoff commented on #200
Works perfectly! I'm closing this issue now.

[2021-01-06 15:14] dnerini commented on #200
@pulkkins, @RubenImhoff thanks a lot for solving this issue. I'm re-opening it because I'd like to include a specific test for the netcdf exporter, so to make sure that we'd detect the same problem in case.

[2021-01-07 03:36] diversoft opened #201 "pysteps error when installed cartopy"
1、warning message when execute “python .\plot_extrapolation_nowcast.py” without cartopy
<class 'pysteps.exceptions.MissingOptionalDependency'>: the cartopy package is required to plot the geographical map  but it is not installed
2、installed cartopy
![image](https://user-images.githubusercontent.com/2303685/103848425-4cb72e80-50dd-11eb-8533-5e05f18b45ce.png)

3、pysteps errors：
`(floods) PS E:\pyst

[2021-01-07 04:25] diversoft commented on #201
1、I download .whl file from [Python Extension Packages for Windows - Christoph Gohlke](https://www.lfd.uci.edu/~gohlke/pythonlibs/#shapely)
Shapely-1.7.1-cp38-cp38-win_amd64.whl
2、I uninstall shapely
pip uninstall C:\Users\xyzbo\Downloads\Shapely-1.7.1-cp38-cp38-win_amd64.whl
3、install shapely
pip install C:\Users\xyzbo\Downloads\Shapely-1.7.1-cp38-cp38-win_amd64.whl

ok

[2021-01-07 04:25] #201 closed, assigned to nobody

[2021-01-07 07:28] RubenImhoff commented on #200
Good idea, Daniele!

[2021-01-11 18:57] dnerini opened #203 "[nowcasts.steps] vel_pert_method="bps" returns NaNs when motion is zero"
With scipy>=1.6, a call to `steps.forecast` with arguments `vel_pert_method="bps"` and `V=np.zeros((2, R[0, :].shape*))` returns all NaNs.

Steps to reproduce
-------------------------

Set up test environment:

[code]

In python:
[code]

Expected output
----------------------

`precip_output` should be an array of finite values.

Cause
---------

The output of `steps.forecast` being all NaNs is c

[2021-01-11 19:43] dnerini commented on #203
@pulkkins do you want to take this over or should I give it a try first?

[2021-01-11 21:15] pulkkins commented on #203
I'll take care of this.

[2021-01-13 17:15] #200 closed, assigned to dnerini

[2021-01-14 19:44] pulkkins commented on #203
This should be fixed in commits 9e7a951, c46a001 and b4198d3. Commit b4198d3 also fixed the problem that the test for the velocity field was inside wrong if clause.

[2021-01-15 16:13] dnerini commented on #203
Very good, @pulkkins , many thanks for taking care of this!

[2021-01-15 16:13] #203 closed, assigned to dnerini, pulkkins

[2021-01-15 17:31] dnerini commented on #197
#199 closes this issue.

[2021-01-15 17:31] #197 closed, assigned to dnerini, aperezhortal

[2021-02-01 21:34] loforest commented on #196
The local Lagrangian approach would be a very good addition to pysteps, which is cheap to implement and to compute.
It gives a simple probability nowcast when limited by computational resources (large domains, etc) or for less quantitative applications (smart-phone app, point probabilities are enough). From a research perspective, it may be worth performing a probabilistic verification to show the

[2021-02-07 18:32] dnerini commented on #196
Thanks @pulkkins and @loforest for the inputs. I drafted a PR #207 that provides a first implementation of what discussed above. It also includes an example. Please let me know what you think.

[2021-03-10 20:39] mjwillson opened #208 "rapsd returns a negative frequency for even-sized images"
[code]

Was this intentional? Note this doesn't happen for odd sizes:

[code]

It looks like this code is responsible -- was there a reason for the +1 here with even sizes?

[code]

Note that plot_spectrum1d is I think ignoring this negative frequency as it'll be mapped to NaN after taking logs.

[2021-03-11 20:22] loforest commented on #208
Tanks a lot for pointing this out!
Fourier transform does return both positive and negative frequencies due to symmetry, but the subsequent application of rapsd should only return positive frequencies. It seems that the range above is too wide and "overflew" into the negative frequencies.
I will check the code to see what happens. My first feeling is that it can be solved by stopping the range for

[2021-05-30 17:43] dnerini opened #209 "Switch to scipy's RBF method"
The `rbfinterp2d` method in `utils.interpolate` is, despite its name, a simple inverse distance weighting. To bring back some clarity, we should use [scipy's Rbf method](https://docs.scipy.org/doc/scipy/reference/generated/scipy.interpolate.Rbf.html) instead, while renaming the current method to something more appropriate.

To avoid changing the behavior of the LK optical flow, I also suggest that

[2021-07-03 17:25] pulkkins commented on #208
https://github.com/pySTEPS/pysteps/blob/76324d8f315f63c6723887f4c99d155749a31e83/pysteps/utils/spectral.py#L149
I believe there is a typo. It should be `if L % 2 == 1:`

[2021-07-04 08:43] #209 closed, assigned to dnerini, pulkkins

[2021-07-04 10:38] #196 closed, assigned to dnerini, pulkkins, loforest

[2021-07-05 20:01] loforest commented on #208
Ok. In that case the docstring return section should be changed to:
*The length of the array is int(L/2) (if L is even) or int(L/2)+1 (if L is odd), where L=max(M,N).*
Correct?

[2021-07-13 07:09] cvelascof opened #212 "Implement STEPS blending scheme"
A great addition to pySTEPS should be to include a module and support routines to blend multiple sources of forecast rainfall.
For example, blending a radar rainfall nowcast with a Numerical Weather Prediction (NWP) rainfall forecast or multiple sources of rainfall estimates.

The branch steps_blending (https://github.com/pySTEPS/pysteps/tree/steps_blending) is created to develop a version of STEP

[2021-07-13 16:02] dnerini commented on #212
Hello @cvelascof, very happy to see this important branch back on track, I look forward to the new blending module!

[2021-07-14 06:49] dnerini commented on #212
Do I get it right that all methods will assume that NWP and radar data come at the same spatio-temporal resolution as well as extent?

Also, do you aim at blending with an ensemble or a deterministic NWP?

[2021-07-14 06:56] cvelascof commented on #212
It is easier to assume to start that NWP and radar data come at the same spatial projection and at the same spatial-temporal resolution. First version should combine one deterministic NWP with the radar nowcast. The critical aspect now is to define an structure in the module that allows us to add more complications to this first version later on, for example more than one NWP, or an ensemble NWP.

[2021-07-14 10:17] RubenImhoff commented on #212
The idea is indeed to start simple, but to later allow for different spatio-temporal resolutions, extents and ensemble members.

[2021-07-14 16:37] dnerini commented on #212
Very good, I like the approach!

It would be easier if the blending module could fit into the existing data model, but I'm personally very much open to explore alternatives if needed.

[2021-07-16 14:42] #208 closed, assigned to pulkkins

[2021-07-20 06:49] ladc commented on #212
Hi everyone, Indeed, good approach to start simple (while keeping in mind the desired features). Things will need refactoring anyway. Also it would be good to (eventually) have an interface that's generic enough to allow for more input fields than simply precipitaiton. I'm thinking for example about machine learning / deep learning based blending methods which require multiple predictors. Also som

[2021-07-20 08:08] ladc opened #214 "Make import_odim_hdf5() more generic to read in non-OPERA ODIM files"
The [ODIM format](https://www.eumetnet.eu/activities/observations-programme/current-activities/opera/) is quite flexible and it would be useful to adapt the importer to take at least some of this flexibility into account (e.g. custom accumulation time). We experience some issues for the Belgian radar composite / QPE (RADQPE) which follows the ODIM 2.2 convention.

[2021-07-20 15:18] ladc commented on #212
Wout (@wdewettin) is progressing well with the linear blending. But indeed the linear blending method will need a totally different interface than advanced blending methods. The problem is that the blending generally is not simply a post-processing step that combines a radar-based nowcast with NWP. For the linear blending this is indeed the case - we calculate a nowcast, and then combine the two f

[2021-07-20 19:41] dnerini commented on #212
Hey Lesley

You raise some very good points here.
Personally, I'd like to take this opportunity to refactor the main steps method: we need to try to break it down into smaller pieces, so that we can more easily test and reuse it elsewhere (ie. your option 2).

I also like option 3, although this risks making the whole implementation even more complicated. But from the point of view of the applicat

[2021-07-23 13:18] ladc opened #215 "Implement importer for NWP (netcdf) data"
Implement function to read in CF-compliant NetCDF data, not (yet) including interpolation to the radar / nowcasting grid. This might be simplified by moving to xarray first. Required for #212 .

[2021-07-23 13:23] ladc opened #216 "pysteps 2.0"
During a meeting with @dnerini, @loforest and @wdewettin, the suggestion was made to start working towards a new version of pysteps.

1. The initial motivation is the implementation of the **blending with NWP** (#212) which is likely to require some API-breaking changes.
2. Secondly, a move towards a new data model based on **xarray** would simplify the existing code as well as the future implemen

[2021-07-25 08:37] dnerini commented on #216
At this point, it would be interesting to hear the opinion of the other core contributors @pulkkins @aperezhortal @cvelascof @RubenImhoff and in general the whole pysteps community.

Also, the list above is by no means exhaustive nor fixed. Version 2 will be the opportunity to introduce substantial changes based on our experience so far: we need your inputs! For this purpose, I created a new [proj

[2021-07-25 09:10] RubenImhoff commented on #216
Hi everyone,

Unfortunately I couldn't join the last meeting due to a week of vacation, but this looks really good! It is great to see how our initial idea to pick up blending again is a reason to move forward to a v2 of pysteps!

The present ideas are what I was thinking of as well, so not much to add at this point. I think that during my stay at RMI in August, we will come up with some (addition

[2021-07-25 13:33] dnerini commented on #32
Let's set a 90% coverage goal for pysteps V2.

[2021-07-25 14:04] aperezhortal commented on #216
Hi everyone,

Version 2 sounds great :muscle:

This new version maybe is a good opportunity to change the pystepsrc parameter file format. Although the JSON configuration file does the job, [it has a few disadvantages](https://www.lucidchart.com/techblog/2018/07/16/why-json-isnt-a-good-configuration-language/). A better, and more readable, alternative is the [YAML format](https://docs.ansible.com/

[2021-07-26 07:36] dnerini opened #217 "Refactor pystepsrc"
This new version maybe is a good opportunity to change the pystepsrc parameter file format. Although the JSON configuration file does the job, [it has a few disadvantages](https://www.lucidchart.com/techblog/2018/07/16/why-json-isnt-a-good-configuration-language/). A better, and more readable, alternative is the [YAML format](https://docs.ansible.com/ansible/latest/reference_appendices/YAMLSyntax.

[2021-07-26 07:37] dnerini commented on #217
I like the idea of the yaml format (and for this, MeteoSwiss maintains a very nice little library that we could adopt: [yaconfigobject](https://github.com/MeteoSwiss/yaconfigobject)). Other than the format, we should rethink the scope of the configuration files and how this is used throughout the library.

[2021-07-26 09:38] dnerini opened #218 "Refactor importers"
The current importer module includes a fairly arbitrary list of importers that are specific to data formats used by various national weather services. This list cannot grow indefinitely each time a new use case appears.

Instead, we should leverage the recent option to use [importer plugins](https://pysteps.readthedocs.io/en/latest/developer_guide/importer_plugins.html) and only keep importers tha

[2021-07-26 13:38] dnerini opened #220 "Wrong mrms bounding box coordinates"
The coordinates of the bounding box (x1, x2, y1, y2) in the MRMS importer seem to refer to the coordinates at the center of the pixels, rather than the corners of the bounding box itself. In essence, the following formulas must hold for all importers:
[code]

To fix this, we would just need to shift the coordinates by half the grid spacing.

[2021-07-27 13:41] #220 closed, assigned to aperezhortal

[2021-07-27 17:03] pulkkins commented on #216
Hi everyone,

I was also on a vacation, so I could not join the last meeting.

The points listed by @dnerini are very good and clearly show the limitations of the current version. It should be noted that its main goal was to implement a Python version of STEPS. As a result, the codebase is not generic enough to contain all the planned features (or even the currently implemented ones). The design w

[2021-07-28 14:02] fox91 commented on #216
Hi everyone,
I don't know if the topic has already come up but I would suggest splitting the library into multiple components (eg: core, visualization, etc.) so that you can only install what you need (eg: downscaling) and avoid what you don't need (eg: eg: visualizattion) and all related dependencies (eg: `matplotlib`).

I say this for all those like me who find themselves installing libraries in

[2021-07-28 14:25] aperezhortal commented on #216
Hi @fox91, thanks for the suggestion. I like the idea.

I did a quick search and it seems that maybe we can do that using something like [Namespace packages](https://packaging.python.org/guides/packaging-namespace-packages/).

[2021-07-28 15:28] fox91 commented on #216
I don't know how is implemented but I like the way I can install submodules in [`boto3-stubs`](https://pypi.org/project/boto3-stubs/#submodules).

[2021-07-28 15:48] dnerini commented on #216
Hi @fox91

In a way, we already partially support the same idea by using optional dependencies.
What is still missing is the option to install a particular set of dependencies depending on the needs.

For example, `pip install pysteps` should only install the core dependencies (and I agree that matplotlib should not be part of it), while `pip install pysteps[visualization]` could come with matplot

[2021-07-29 06:36] dnerini opened #224 "Refactor packaging"
Hi everyone,
I don't know if the topic has already come up but I would suggest splitting the library into multiple components (eg: core, visualization, etc.) so that you can only install what you need (eg: downscaling) and avoid what you don't need (eg: eg: visualizattion) and all related dependencies (eg: `matplotlib`).

I say this for all those like me who find themselves installing libraries in

[2021-07-29 12:19] aperezhortal commented on #224
I like the idea that @dnerini suggested in #216, add different options to install a particular set of dependencies depending on the needs of the users using the [extras_require](https://setuptools.readthedocs.io/en/latest/userguide/dependency_management.html#optional-dependencies) in setup.cfg.  We can implement by:

- Refactor visualization module to handle matplotlib as an optional dependency

[2021-07-29 15:54] dnerini commented on #224
Thanks @aperezhortal  for the nice summary, we should give it a try!
I also like the proposition for making matlplotlib an optional dependency, although this might need to be applied to few other modules (eg we have a plot module in pysteps.verification).

One aspect that is not clear to me is how is this going to translate in terms of conda-forge packages? Do you know?

One more thing we should d

[2021-07-30 12:39] aperezhortal commented on #224
Conda-forge allows different outputs. Although it never use this functionality, we can use as reference the [matplotlib-feedstock](https://github.com/conda-forge/matplotlib-feedstock/blob/master/recipe/meta.yaml). Matplotlib creates 3 outputs, matplotib-base, matplolib, and mpl_sample_data.

What about:

- all: full functionality
- motion: all the optional dependencies in the motion module
- vis:

[2021-08-05 11:37] ladc opened #226 "Implement linear blending"
Implement a linear blending algorithm which can be applied on the different nowcast algorithms.

[2021-08-05 11:40] ladc commented on #226
Hi everyone, a linear blending algorithm has been implemented. I think it will be useful in its own right as well as serve as a benchmark for the more advanced blending techniques. @wdewettin will do a pull request. I propose to do this PR against the current pysteps-v2 branch. In principle it could also be integrated in master since it extends the current methods and does not break any interfaces

[2021-08-05 11:51] RubenImhoff commented on #226
Sounds good, @ladc! I agree to add it to the v2 branch. I can have a look at @wdewettin's PR once it's there.

[2021-08-05 11:56] ladc commented on #224
I am not an expert in python packaging but I'm all for having the proposed separately installable components. For example, doc requires more than simply sphynx, it also uses e.g. a bibtex package. It would be useful to be able to install all doc requirements with one doc submodule and likewise for the rest. Perhaps something like that was already possible, but I missed it...

[2021-08-05 12:25] fox91 commented on #224
I would not want the aspect I brought to light to get confused with the difference between development dependencies and production dependencies: for development dependencies (`pytest`, `black`, `sphynx`, etc.) specific separations are not necessary, indeed it would be harmful.

For example, I use `poetry` instead of `setuptools` and here is the dedicated [`dev-dependencies`](https://python-poetry.

[2021-08-05 12:29] fox91 opened #227 "Migrate from setuptools to Poetry"
As a further improvement, during the upgrade to version 2.0 you could consider migrating from `setuptools` to `Poetry` for dependency management.

Related to #224

[2021-08-10 13:15] dnerini commented on #193
Both v1.4.1 and v1.5 should now be available for python 3.9 (Linux and OSX only).
Feel free to reopen this issue if something's still wrong.

[2021-08-10 13:15] #193 closed, assigned to nobody

[2021-08-10 13:25] RubenImhoff commented on #212
Hi everyone,

We (@ladc, @wdewettin and me) discussed today how to implement the STEPS blending scheme. The implementation of the blending weights by Seed et al. 2013 was hard to follow for us, as it seems that equations 7 and 8 do not entirely resemble what is described in the text and what we see in the C-implementation of STEPS. If anyone exactly knows how to implement this, we would be happy t

[2021-08-11 01:41] cvelascof commented on #216
I love the idea of using xarray for pySTEPSv2.
However wondering if we can agree the process we will follow with the conversion of original pySTEPS rutines into xarray.
The possible options that I can see are:
- Modify the contents of each routine to work with both xarray and legacy and keep the name of the routine.
- To create new versions of each routine solely using xarray and use different nam

[2021-08-11 09:47] dnerini commented on #227
Hi @fox91, many thanks for the suggestion! What would be the purpose of this migration? What the advantages? Would you be able to put together a PR? This could also be just a proof of concept to explain what you have in mind and how you would do it.

[2021-08-11 10:04] dnerini commented on #216
All very relevant points, thanks @cvelascof for raising them. This is my personal opinion:

I see this as an iterative process, where version 2.0.0 should include the changes necessary to provide support to xarray across the whole library. This means that all methods need to be able to use and return xarray objects instead of numpy arrays as it is currently done. meaning:
- no more `ndarray, metad

[2021-08-11 13:53] RubenImhoff opened #230 "Allow for reprojection and up/downscaling of DataArrays"
With our move to pysteps v2 and our plan to implement blending with NWP, we will run into problems with different grids and spatial projections of the models. An example of this is the KNMI NWP model data, which have a lat-lon grid and a coarser resolution than the radar data. Hence, this asks for a reprojection and downscaling of the NWP rainfall fields.

Does anyone know about good Python-tools

[2021-08-11 14:01] aperezhortal commented on #230
Hi @RubenImhoff, I used in the past rasterio to do that. It is very fast.
https://rasterio.readthedocs.io/en/latest/topics/reproject.html

[2021-08-11 14:04] RubenImhoff commented on #230
Thanks @aperezhortal! Rasterio is indeed a nice package to work with, good option.

[2021-08-11 14:11] dnerini commented on #230
rasterio is very nice library, but to avoid an additional dependency, it should also be possible to relatively easily obtain what you need with a combination of pyproj and xarray's resampling method.

[2021-08-11 14:14] aperezhortal commented on #230
[Edited]
Actually, it seems that xarray has a reprojection functionality: https://corteva.github.io/rioxarray/stable/examples/reproject.html
But it seems that uses rasterio under the hood.

[2021-08-11 15:21] kmuehlbauer commented on #230
A colleague recommended pyresample  https://pyresample.readthedocs.io/en/latest/index.html

Pyresample only has numpy, scipy and xarray as more or less hard dependencies. I did not explore it in depth since wradlib uses gdal for reprojection/resampling under the hood.

[2021-08-12 06:56] RubenImhoff commented on #230
Thanks for your suggestions so far, this can give a good start!

[2021-08-12 07:05] cvelascof commented on #230
Hi all ... I personally use XESMF https://pangeo-xesmf.readthedocs.io/en/latest/.
XESMF integrates very well with xarray and dask but I agree that we should try to keep pySTEPS dependencies limited.

[2021-08-12 09:21] cvelascof commented on #215
@ladc working on that. I have just added one example with radar data and NWP rainfall forecasts into https://github.com/pySTEPS/pysteps-data

[2021-08-12 09:41] dnerini commented on #212
Hi @RubenImhoff
Unfortunately I'm not very familiar with the Seed et al 2013 paper either (we could get in touch with Alan directly... does he have a github account?^^ ), but from what I remember, they introduced this covariance term which might prove very important for blending (@aitaten knows a lot about this), especially when working with NWP RUC systems that use radar data assimilation.
Regard

[2021-08-12 10:27] RubenImhoff commented on #212
I totally agree, @dnerini! Let's see what the others think (and whether they know how the Seed et al 2013 paper is really implemented concerning the weights ^^). For now, I'll just implement the Bowler et al. (2006) method and we can continue from there.

@cvelascof, I'm going to change the noise weight back to the original formulation in eq. 13 in Bowler et al. (2006), instead of making it the mi

[2021-08-12 12:14] aitaten commented on #212
Hi! I just had a quick look to Seed et al., 2013 and what I understand is that they take into account the covariance matrix (Eq 8) as a form of having into account the variability of the model (0,0) and radar forecast (1,1) and how much of this variability is common/shared (1,0 = 0,1). As @dnerini said this is important for NWP with radar assimilation, but it can also be important to take into acc

[2021-08-12 13:24] ladc commented on #212
Yes this is also what we understood, taking into account the covariances seems like a sensible thing to do (regardless of radar data assimilation).  The matrix in Eqn. (8) doesn't seem to be a covariance matrix to me, though. I'm also a bit puzzled by how the \rho_e and the other \rhos are defined exactly (Lagrangian autocorrelation for the radar extrapolation component?).
![Screenshot from 2021-0

[2021-08-23 14:44] RubenImhoff commented on #212
Hi everyone, another question w.r.t. the blending. I am working on the main module now (getting there, actually!) and we were wondering what to do with the probability matching. In the original pysteps code, the prob. matching takes place prior to the extrapolation of the recomposed precipitation fields. However, in the blending procedure, the extrapolation step takes place on all cascade levels p

[2021-08-23 16:21] loforest commented on #212
Hello :-)
I try to give my input on some of the topics hoping that it helps.
- Probability matching: @RubenImhoff you are right that it does not make sense to always use as target distribution the original radar field. One promising approach is to build a target distribution by sampling from both the radar and NWP fields, like in the EnKF paper of Daniele. Particular care should be given to accoun

[2021-08-23 16:21] ladc commented on #212
If I understand correctly (please correct me if I'm wrong here), the goal of the probability matching is to use a reference rain rate cumulative distribution function and remap the forecast rain rates to match this cdf. The main motivation was to reduce the spurious appearance of drizzle throughout the previously non-rainy areas due to the noise injection. A second reason to perform it was to corr

[2021-08-23 16:54] loforest commented on #212
I now remember that PM was turned off in the latest implementation. Thanks @ladc for reminding me! Indeed, PM was used, among others, to remove the strong bias arising from the cascade parameters and dBR mean being fixed and not accounting for rainfall leaving the domain. If we cannot avoid doing PM we should use the approach of @dnerini, which will start from the radar cdf and finally converge to

[2021-08-24 12:00] ladc commented on #212
Thanks for the information Loris! We've been brainstorming about the optimal solution to the aforementioned problems and we would propose to use a kind of Lagrangian blended probability matching instead. As a reference for the CDF we would use a deterministic extrapolation, blended with NWP, using the blending weights from the second cascade level (as is also done for the velocity field blending).

[2021-09-16 07:01] RubenImhoff commented on #215
I just saw that the nwp importers do not give the coordinates of the middle of the cell, but of the left cell edge instead. The "_to_xarray" function in the decorators is skipped with the nwp data, because it is read as an xarray DataArray and therefore skipped by:
`if not isinstance(data_array, xr.DataArray):`

Should we directly set everything to the cell centers in the nwp importers, or should

[2021-10-24 14:16] dnerini opened #242 "Decouple gallery from main documentation"
Currently the pysteps example gallery is part of the main pysteps repo, meaning that the static example pages are compiled by readthedocs for each change.

This slows down considerably the rtd builds, and puts us very much at the limit of their free resources.

One solution could be to fully decouple the example gallery (as a new repo, eg "pysteps-gallery") that uses GitHub actions to build and pu

[2021-10-24 14:39] aperezhortal commented on #242
I really like the idea of separating the examples from the main repo. Specially, also migrating the examples to jupyter notebooks :rocket:

We had a similar discussion a few years back [here](https://github.com/pySTEPS/pysteps/issues/68), pointing out that the workflow like the wradlib one was an interesting option to explore in the future. The future has arrived :sweat_smile:
Back then, our examp

[2021-10-25 07:34] #230 closed, assigned to ladc, RubenImhoff, wdewettin

[2021-10-29 21:02] aperezhortal commented on #242
I just created [a minimal working example](https://github.com/aperezhortal/nb_gallery_template) of the workflow mentioned above. Here is the generated documentation https://aperezhortal.github.io/nb_gallery_template/index.html.

It seems that it won't require too much work to separate the examples from the main documentation. The only limitation of the latter approach is that only the latest versi

[2021-10-30 11:23] kmuehlbauer commented on #242
If you go one step further and create additional release branches in the notebook repo, containing the rendered notebooks (via actions) you can just clone those branches during rtd build to compile final docs. That way you have the notebooks aligned with the pysteps versions.

That's the way how wradlib is doing it.

[2021-10-30 17:50] dnerini commented on #242
Super nice @aperezhortal , thanks a lot for putting together this proof of concept! I like it A LOT! :-)

Indeed, it would be nice to have the option to navigate previous versions, as it is already possible now. We should have a closer look to how wradlib solves this. Thanks for the suggestion, @kmuehlbauer !

[2021-10-30 17:53] kmuehlbauer commented on #242
I would gladly assist if you decide to go that way.

[2021-11-01 12:22] aperezhortal commented on #242
Thanks @kmuehlbauer for the suggestion! I'll give it a try and see how it goes.

[2021-11-03 07:39] #226 closed, assigned to wdewettin

[2021-12-30 17:17] aperezhortal commented on #242
Better late than never :sweat_smile:

I followed @kmuehlbauer suggestions of separating the example gallery from the main project.
The proof of concept is implemented in the [nb_gallery_template](https://github.com/aperezhortal/nb_gallery_template) repository that mimics a project with [separate example gallery](https://github.com/aperezhortal/nb_gallery_notebooks).
This is essentially a minimal i

[2021-12-30 18:40] kmuehlbauer commented on #242
@aperezhortal I've only swept quickly through this, it looks amazing! Seems I'll have to copy one or the other neat feature from here. Cool stuff!

[2021-12-31 14:38] dnerini commented on #242
Brilliant, thanks a lot @aperezhortal, I really look forward to use your template! You think we can start the migration? I'll create a new pysteps-gallery repo soon and try with one example.

[2021-12-31 15:27] aperezhortal commented on #242
Sure. I will start working on the PR updating the workflows (for v1.6) and updating the pysteps docs.

[2022-01-01 18:35] dnerini opened #249 "CI with py38 fails on import with ValueError"
The error appeared sometimes in the past few days and doesn't seem to be related to any of our code changes, since it appears when re-running previously successful jobs:
https://github.com/pySTEPS/pysteps/runs/4680236854?check_suite_focus=true

Full traceback
[code]

Steps to reproduce:
[code]

[2022-01-01 20:31] dnerini commented on #249
upgrading to numpy==1.22.0 seems to solve the issue:
[code]
works!

The cause seems to be similar to what described here
https://github.com/scikit-learn-contrib/hdbscan/issues/457#issuecomment-773671043
in that the pysteps build dependencies [don't pin any version](https://github.com/pySTEPS/pysteps/blob/bd9478538249e1d64036a721ceb934085d6e1da9/pyproject.toml#L6) for numpy. In turns, this breaks t

[2022-01-08 08:37] dnerini opened #252 "Python 3.6 reached end-of-life"
https://endoflife.date/python

python 3.6 has reached end-of-life last month, while python 3.9 has been released more than a year ago.

Therefore, I suggest that we test and build pysteps for versions 3.7-3.9.

[2022-01-14 09:28] dnerini commented on #249
see #250.

[2022-01-14 09:28] #249 closed, assigned to dnerini

[2022-01-15 07:58] #252 closed, assigned to dnerini

[2022-01-19 12:45] RubenImhoff commented on #218
For the `nwp_importers` work in progress in the separate pysteps-nwp-importers repo. See: https://github.com/pySTEPS/pysteps-nwp-importers/pull/1

[2022-02-08 06:51] leducanhmti opened #263 "Problem with pyproject.toml"
I have this error when try to install pysteps by pip. Can anyone help me with this?

<img width="844" alt="Screen Shot 2022-02-08 at 13 50 38" src="https://user-images.githubusercontent.com/98584339/152933561-7d016f0b-07d8-40fa-ada9-9cb69cc17572.png">

[2022-02-08 12:05] aperezhortal commented on #263
Hi @leducanhmti, welcome to Pysteps!

On which platform are you trying to install pysteps (windows, Linux, OSX)? Which python version do you have?

[2022-02-09 11:32] leducanhmti commented on #263
Hi @aperezhortal, thanks for your reply.
I'm working on macOS BigSur, python 3.8.9 in HomeBrew.

[2022-02-09 12:07] aperezhortal commented on #263
Probably there is a problem with the GCC compiler.

Try the following steps:

[code]
The `-v` flag in the last command should provide information on the error (if any).
If pip fails and you don't see a more detailed error, try running `python setup.py build_ext -i` and paste here the output of that command.

[2022-02-10 01:04] leducanhmti commented on #263
Here is the output when I try to run

`pip install -v pysteps`

error: command 'gcc-9' failed: No such file or directory
  error: subprocess-exited-with-error

  × Building wheel for pysteps (pyproject.toml) did not run successfully.
  │ exit code: 1
  ╰─> See above for output.

  note: This error originates from a subprocess, and is likely not a problem with pip.
  full command: /Library/Develope

[2022-02-10 01:49] aperezhortal commented on #263
It seems that homebrew is installing a newer version of the gcc compiler (v11): https://formulae.brew.sh/formula/gcc

Possible solutions:

### Option 1
Use gcc version 11 to compile pysteps.
[code]
### Option 2
Install gcc-9 and use it to compile pysteps.
[code]

[2022-02-10 08:03] leducanhmti commented on #263
I already try this before but it still have an error like this

### Option 2
  gcc-9 -Wno-unused-result -Wsign-compare -Wunreachable-code -fno-common -dynamic -DNDEBUG -g -fwrapv -O3 -Wall -iwithsysroot/System/Library/Frameworks/System.framework/PrivateHeaders -iwithsysroot/Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.8/Headers -arch arm64 -arch x86_64

[2022-02-11 07:17] leducanhmti commented on #263
Hi @aperezhortal, thanks for your help.

After upgrading to python 3.9.2, I can install pySTEPS now. I will close this issue. Thanks a lot.

[2022-02-11 07:17] #263 closed, assigned to nobody

[2022-02-11 10:03] dnerini opened #265 "[Github Actions] Installation with micromamba fails on windows-latest"
Recent CI/CD runs fail on windows when micromamba tries to install the environment.

~~This could be related to the [recent change to Windows Server 2022](https://github.blog/changelog/2022-01-11-github-actions-jobs-running-on-windows-latest-are-now-running-on-windows-server-2022/) for all windows-latest github actions.~~

Investigating ...

[2022-02-11 10:28] dnerini commented on #265
seems to be caused by the pip installation of cookiecutter:
[code]

[2022-02-11 20:34] aperezhortal commented on #265
The issue was the `pip` call from the version of micromamba-bin used by the action (0.21). Specifying the mamba version to 0.20 seems to solve the issue:
[code]

I will try to create a minimal example reproducing the error and open an issue in the mamba repository.

[2022-02-11 20:55] dnerini commented on #265
I found this issue on their repo: https://github.com/mamba-org/mamba/issues/1468 could that be it?
The fix was released with 0.21.1 few hours ago...

edit: just tested with micromamba 0.21.1 and [it works](https://github.com/pySTEPS/pysteps/actions/runs/1834372733) all good. So looks like the issue was fixed with the latest patch of mamba and no more action is required on our side...

[2022-02-12 17:39] #265 closed, assigned to dnerini, aperezhortal

[2022-02-13 13:50] dnerini opened #267 "[Github Actions] Tests hang on windows"
Related to #265 but somewhat of a different issue: with micromamba >= 0.21 tests involving matplotlib's pyplot.show()/pause() hang forever on windows. For now, the only workaround is to revert to micromamba 0.20, see also #266 .

[2022-02-14 11:15] relmonta opened #268 "No module named 'pysteps.motion._proesmans'"
I installed pysteps on linux machine, using conda and pip, and with both installations when I try to import the packge, I get the same error:
`ModuleNotFoundError: No module named 'pysteps.motion._proesmans'`

[2022-02-14 11:54] dnerini commented on #268
Hi @relmonta, welcome to pysteps!

Can you provide more details on your setup please? What python version are using? Are you installing from source within a conda environment or from PYPI?

[2022-02-14 12:28] relmonta commented on #268
Hi @dnerini , Thank you for your reply,
I am installing it in a new environment from conda-forge following [this guide](https://pysteps.readthedocs.io/en/stable/user_guide/install_pysteps.html#anaconda-install-recommended), my python version is 3.9.7

[2022-02-14 13:14] aperezhortal commented on #268
Hi @relmonta ,

Are you executing the `import pysteps...` from a directory containing a clone of the pysteps repository or containing a folder named `pysteps`?  That could cause that kind of import error.

[2022-02-14 14:49] dnerini commented on #268
Exactly, could you check that you're not running in the same issue described in #40?

[2022-02-14 16:17] relmonta commented on #268
Thank you, that's true.

[2022-02-14 16:17] #268 closed, assigned to nobody

[2022-02-14 16:49] dnerini commented on #268
Very good. I'm not sure how often this issue happens in reality, but I think we'll consider adding a specific note in the documentation ...

Happy nowcasting!

[2022-02-15 18:02] #212 closed, assigned to ladc, cvelascof, RubenImhoff, wdewettin

[2022-02-22 07:08] #215 closed, assigned to cvelascof

[2022-03-22 15:29] Ahunegnaw opened #275 "Ingesting GPS derived Zenith total delay"
I'm very much interested in running pysteps and particularity if zenith total delay (proxy to precipitation) derived from GPS can be ingested/ assimilated to pysteps in addition to radar image. I could produce gridded zenith total delay in near-real time from a dense network of GPS station, and I wanted to know if there is a way to ingest these data set? I would like to hear your suggestions.

[2022-03-22 15:45] aperezhortal commented on #275
Hi @Zaccarias, welcome to pySTEPS!

The nowcasting functions in pysteps are independent of any importer as long as your data is in a regular cartesian grid (let's call them "images").  Once you have a temporal sequence of images, you can [run the nowcast as in this example](https://pysteps.readthedocs.io/en/latest/auto_examples/plot_extrapolation_nowcast.html#compute-the-nowcast).

Additionally, y

[2022-04-07 12:28] tkokkone opened #276 "Spatial scale values in pySTEPS"
Dear pySTEPS experts,

This may be a pySTEPS issue, but just as well it can be an issue with my maths :-) Either way, I would really appreciate if someone could help.

I am having a hard time in trying to understand the relationship between spatial scales and cascade level indices the way it has been implemented in pySTEPS. I try to explain with an example where my problem is.

According to Figure

[2022-04-13 11:07] dnerini commented on #276
Hi @tkokkone thanks for the interesting and detailed questions! @pulkkins is our expert on the subject, so I'll leave it to him to provide a response. And as you probably already realised, sometimes this can take some time, as we mostly take care of pysteps on a "best effort" basis... but please keep asking good questions and sharing results from your interesting work!

[2022-04-13 11:31] tkokkone commented on #276
Hi @dnerini, @pulkkins and others,

Thanks for the reply!  I am not expecting immediate responses, no worries, but great to see that this repository is alive! I guess you guys are my last resort to resolve this but there is no panic.

[2022-04-14 11:48] mpvginde opened #277 "Bug when pysteps.blending.steps with multiple NWP models"
Dear pysteps developers,

I recently ran into to the following error when making a steps blended nowcast with an ensemble of NWP models.
The error I got:
[code]

I have been able to trace back the error to the fact that in blending/skill_scores.py
the function _clim_regr_values_ calls the _blending.clim.calc_clim_skill_ function:
[code]
without the n_models keyword, which then defaults to n_models

[2022-04-14 11:56] RubenImhoff commented on #277
Hi Michiel,

Thanks a lot for your message and finding this potential bug! I'll pick it up in one of the coming days and I'll directly check why this passed our tests. ;)

Just to double check, which pysteps version are you using?

[2022-04-14 11:58] mpvginde commented on #277
Thanks Ruben.

It's version 1.6.1 (#274)

[2022-04-18 15:51] aperezhortal commented on #275
Hi @Zaccarias, following up on this issue, were you able to ingest the GPS data? Do you need additional help ?

[2022-04-26 19:51] pulkkins commented on #276
@tkokkone you are absolutely right. It would make more sense to choose the central frequencies so that the ratio between the two largest scales is consistent with the smaller ones. This ratio is in fact governed by the parameter l_0 of cascade.bandpass_filters.filter_gaussian: https://github.com/pySTEPS/pysteps/blob/9c252b5d87653cfe3b4ea18b41ff0d78193a90ce/pysteps/cascade/bandpass_filters.py#L102

[2022-04-27 19:46] #277 closed, assigned to RubenImhoff

[2022-04-29 12:28] tkokkone commented on #276
Thanks, @pulkkins ! I am happy to help if I can.

[2022-05-03 09:17] 5fcgdaeb opened #282 "Noise Adjustment Coefficient -> ValueError: field contains non-finite values"
I am performing nowcasts with the setup below but I am getting an error during the noise adjustment process.

Here is the setup:

[code]

The error trace looks like:

`Computing noise adjustment coefficients... Traceback (most recent call last):
  File "historicalNowcastPerformerScript.py", line 96, in <module>
    R_forecasts = nowcaster.nowcast(R, metadata)
  File "/root/projects/lib/python3.7/s

[2022-05-03 19:03] dnerini commented on #282
Thanks for reporting the issue! I will have a look into it, can you maybe share a minimal code to reproduce the error? From what I understand, it should be enough to set the last precipitation field to all zeros?

Also, what pysteps version are you using?

[2022-05-04 10:54] 5fcgdaeb commented on #282
@dnerini Thanks for the quick reply.

My pysteps version is **1.6.1**.

The same error also occurred inside the nowcasting module, in the `temporal_autocorrelation` method (line number 107). This is probably where the forecasts (R_fct) are being verified so it is not just about the input values but also about the forecasted precipitation fields. If the forecast contains no precipitation, the same

[2022-05-04 18:16] dnerini commented on #282
Great, thanks for the detailed information! I hope to be able to look into this in the coming days, will let you know!

[2022-06-24 16:34] simonbeylat opened #287 "RainFARM : Terzago et al. 2018"
I wanted to ask you if you could add the version of RainFARM improved by Terzago et al.(https://doi.org/10.5194/nhess-18-2825-2018).

I would like to use it using Python. By the way, I am open to collaborate and help you to do it.

[2022-06-25 09:15] dnerini commented on #287
Hello @simonbeylat

I'm not familiar with the work of Terzago et al, can you please briefly summarize what they improved with respect to the original RainFARM?

In any case, we would of course welcome your contribution! You can submit a draft of this new RainFARM version as a pull request following our [developer guidelines](https://pysteps.readthedocs.io/en/stable/developer_guide/contributors_gui

[2022-06-25 11:03] simonbeylat commented on #287
Hello @dnerini,
Thank you for your reply.

Terzago has added 2 elements to RainFARM. The first is a smoothing operator at the end of the algorithm.

The second (and most important) is a weight applied at the fine scale of the field, before the last step.
These weights are calculated from the climatology. It allows RainFARM to reproduce the climatology of fine-scale precipitation.
The aim is to pro

[2022-06-28 21:38] #267 closed, assigned to nobody

[2022-07-02 08:09] dnerini commented on #287
I like your proposition, @simonbeylat! If possible, I'd keep the two changes separate, hence work on two pull requests. The smoothing operator looks like a fairly straightforward addition, while the weighting is somewhat more involved, as it requires a climatological analysis. In this sense, I assume we would need to implement the methods to compute such weights based on a data archive?

Also, kee

[2022-07-06 14:19] simonbeylat commented on #287
Great, it's a good idea to see if von Hardenberg is interested.

So I think we can do a first pull request for the smoothing operator where we create a little internal function to do that, and add a boolean parameter called Smoothing to the RainFARM function (downscale) and add this smoothing option to the main function.

A second pull request with a function to compute the weight that has as para

[2022-07-06 15:14] jhardenberg commented on #287
Hi folks, I have actually seen this development and it would be really cool to have a python implementation of the more recent developments. The Terzago et al. 2018 version actually differs from the original Rebora et al. 2006 version also in another detail: we introduced (actually already in D'Onofrio et al 2014 https://doi.org/10.1175/JHM-D-13-096.1 ) a 'spectral merging' feature which greatly i

[2022-07-06 15:20] jhardenberg commented on #287
The time downscaling was easy to implement in the original Rebora et al. 2006 by using 3D FFTs, but actually in D'Onofrio et al. 2014 we dropped it for climate downscaling when we introduced the spectral merging. Indeed the entire concept of downscaling in time made a lot sense at the weather event scale, but is less well defined for climate fields (should we do a fft in time over all the length o

[2022-07-06 15:46] simonbeylat commented on #287
Thank you for your reply @jhardenberg

In this case, it might be better to start by implementing this "spectral fusion" of D'Onofrio et al 2014. To follow the same historical development.

[2022-07-07 06:06] dnerini commented on #287
Very good @simonbeylat, I very much like your plan and look forward to review and contribute to your PRs!

For development you can use [the dev environment](https://github.com/pySTEPS/pysteps/blob/master/environment_dev.yml). You should be able to follow [these instructions](https://pysteps.readthedocs.io/en/stable/developer_guide/contributors_guidelines.html#setting-up-the-development-environment

[2022-07-09 14:13] dnerini commented on #287
Also (and apologies for the slow answer), hi @jhardenberg and thanks for your inputs! Very nice that you're interested in contributing to this effort.

It's very interesting what you mention about the downscaling in time, it sure does make a lot of sense. I wonder whether we should still try to implement that component for weather applications, though. Something to keep in mind...

@simonbeylat ho

[2022-07-12 10:14] simonbeylat commented on #287
Hello @dnerini,

I have some important things to finish (with deadline) for the next few weeks and then I'll have a few days off.
I think I'll focus fully on this in September, if that's okay for you ?

[2022-07-13 04:53] dnerini commented on #287
Absolutely, there is no hurry, just wanted to have an idea ;-)

[2022-07-16 14:50] #276 closed, assigned to pulkkins

[2022-08-23 09:01] mpvginde opened #295 "Error when using import_netcdf_pysteps in case of no rain."
Dear developers,

I'm currently trying to deal with no-rain cases when using pySTEPS (blendig).
As you might be aware, there are some issues when running pySTEPS when the radar-images contain no precipitations (see also issue #282).
As a temporary fix, I use in this 'no-rain case' only the NWP forecasts (basically no pySTEPS run).
But I do export the results to a netCDF file using the pysteps expo

[2022-08-24 06:26] dnerini commented on #295
Hello @mpvginde and thanks for reporting this issue!
Unfortunately I've been lagging behind on #282 and hopefully this new issue will finally give the push to look into it...
Maybe also @pulkkins can help out on this? Anyway, I'll first see if we can reproduce the error in our test suite, will keep you posted!

[2022-08-28 12:49] feldmann-m opened #297 "Minor bugs in T-DaTing"
resolving a future warning
fixing a rounding error
adding missing sources

[2022-09-04 11:04] aitaten opened #307 "Minor bug/ disagreement in lagrangian_probability"
The parameter **slope** in _forecast_ function has to be float but parameter **size** in __get_kernel_ function has to be integer.

Size (actually called scale) is obtained in line 90 with:

`scale = timestep * slope`

Consequently, if slope is actually a float (in the existing test is always an integer), the _get_kernel function returns an error and the _forecast_ function fails without returning

[2022-09-13 12:11] ladc opened #309 "How to handle no rain in pysteps?"
Dear developers,

As mentioned in #282 and #295, the STEPS nowcasting component of pysteps (with/without blending with NWP) cannot really handle the case where there is no rain in the radar image / QPE. The problems are not only technical but also scientific: how to determine optical flow and AR/scaling parameters from a field of zeroes? And subsequently, how to extrapolate/blend?
We see 2 possibl

[2022-09-13 14:09] dnerini commented on #307
Close by #308.

[2022-09-13 14:09] #307 closed, assigned to nobody

[2022-09-15 15:48] simonbeylat commented on #287
Hi @dnerini

  I am about to start the implementation, if I remember correctly we have 3 different implementations in 3 different pull requests (respecting what we said in July):   
  
  1) Spectral fusion from D'Onofrio et al 2014. Directly integrated with the main function.   
  
  2) The smoothing operator added with a boolean parameter called Smoothing to the RainFARM function (downscale) and

[2022-09-15 16:02] jhardenberg commented on #287
Hi @simonbeylat, thank you again for the initiative, that is great.
If I may suggest I would indeed start from the smoothing operator, which looks like a quite easy change. A reference implementation can be found both in my [R](https://github.com/jhardenberg/rainfarmr/blob/master/R/smoothconv.R) and in my [julia](https://github.com/jhardenberg/RainFARM.jl/blob/master/src/rf/smoothconv.jl) implemen

[2022-09-16 08:07] dnerini commented on #287
Hey @simonbeylat very nice to hear from you ! The plan sounds very good, I look forward to see and discuss your pull requests!
Also, the suggestion from @jhardenberg sounds very reasonable, what do you think? Shall we start with the smoothing operator?
Final note, do not hesitate to draft a pull request early on with a preliminary version of your code: this often helps to get  feedback and get thi

[2022-09-16 08:20] dnerini commented on #309
Dear Michiel and Lesley

Many thanks for starting this important discussion.
(let's ping @pulkkins @RubenImhoff @loforest directly here too)

For radar only nowcasts, the problem is somewhat simpler. Some routines will have no problems in dealing with all zeros: e.g. the LK optical flow will simply return a field of zero displacement. Others, the steps nowcasts for example, will fail (as noted in

[2022-09-17 15:11] RubenImhoff commented on #309
Hi Michiel, Lesley and Daniele,

Very relevant points that we come across often in operational systems..

I think that the proposed options by you and Daniele (also in his PR) are worth the try. Regarding having no AR parameters because of no rain in the rainfall estimates for the nowcasting part (in STEPS nowcasting or blending), would it be an option to have a "base set" of parameters in case th

[2022-09-20 15:31] #295 closed, assigned to dnerini, pulkkins

[2022-09-21 12:15] simonbeylat commented on #287
Hi @dnerini

I have created a first pull request with the smoothing operator.

I used @jhardenberg's R script to do it! I tested it with the same input and got the same result (with R and Python).

I'm waiting for your comments and starting the next pull request which should be the "spectral fusion of D'Onofrio et al 2014. Directly integrated with the main function. "

[2022-09-28 02:04] ZHANGZ1YUE opened #312 "Power spectral density (PSD) with "rapsd" function"
First of all, thank you very much for providing this tool. I very much like it!

Just quick question regarding one of the function `rapsd` from `utils`.
1: According to the discription, it computes the radially averaged PSD for a 2d array. However, if I want to compute the PSD for a normal cartesian coordinate array (rather than a radial one), how should I implement it?
2: Regarding the output of

[2022-09-28 11:22] dnerini commented on #312
Hello @ZHANGZ1YUE

The input to `utils.spectal.rapsd` can be a 2d cartesian field. In this case, you must pass the `fft_method` argument, e.g. you could pass `np.fft`. If `fft_method` is None (the default), then is it assumed that the input array is the Fourier transform of the original field.

You can set `return_freq=True` in the above method to get the coordinates of the x axis. The y axis depe

[2022-09-29 01:41] ZHANGZ1YUE commented on #312
Hi @dnerini
Your explanation and the provided example can't be more helpful. I might have more question in future regarding the details but so far, it does plot what I expected.

Definitely! Once I have a deeper understanding about these functions, I'll let you know if I have any suggestions for the documentation.

Thank you very much.

[2022-09-29 04:37] #312 closed, assigned to nobody

[2022-10-05 14:26] simonbeylat commented on #287
Hi @dnerini  @jhardenberg,

I have looked at the articles by D'Onofrio et al.(2014), if I understand correctly the change is related to section 3 i) and iv).  I was wondering if we should incorporate it into the main function or add it as an option (with a boolean argument).

  I think the boolean argument option might be interesting, especially if we want to focus on time downscaling.
   As I und

[2022-10-07 18:08] dnerini commented on #287
Hi @simonbeylat, I agree, the spectral fusion can be added as an option to the main downscaling function, and, as you mention it, such option will be set to false when downscaling in time.

[2022-10-28 03:45] winash12 opened #313 "Unable to run any of the example scripts"
Installed the latest version of pysteps and I am wanting to run the example scripts that come with the product. But no sample data has been provided. Any suggestions on where I can get access to sample data ?

Specifically I am interested in the data and the script that generates this plot -
![image](https://user-images.githubusercontent.com/9129700/198501348-fbe8cad6-3b70-4a92-afba-d6a217ef5583.p

[2022-10-28 05:28] dnerini commented on #313
Hi @winash12 , have you already looked at the this page in the documentation?

https://pysteps.readthedocs.io/en/stable/user_guide/example_data.html#example-data

This should provide you with all the information you need.

[2022-10-28 05:38] winash12 commented on #313
@dnerini Thanks for the quick response. Will install and try what is mentioned in the docs.

[2022-10-28 05:44] dnerini commented on #313
The data used for that plot are from the example dataset of FMI (see the page linked above), while the script is the same used here: https://pysteps.readthedocs.io/en/stable/auto_examples/plot_steps_nowcast.html#sphx-glr-auto-examples-plot-steps-nowcast-py

[2022-10-28 07:13] winash12 commented on #313
@dnerini Under your tutelage managed to run most of the scripts successfully ! Few scripts gave some errors I will open those separately if necessary.

My real world use case would be using netCDF radar files or HDF5 radar files.

[2022-10-28 07:23] #313 closed, assigned to nobody

[2022-10-28 08:39] winash12 opened #314 "Input for pysteps"
I have radar GIF files of reflectivity as shown here - From the mch example it appears pysteps can read GIF files and it is not necessary to have h5 files or netCDF files. Can it read a GIF file as shown below ?
![caz_lkn](https://user-images.githubusercontent.com/9129700/198543756-e8dd8804-cad7-42f6-9f40-aa96fab00f80.gif)

[2022-10-28 11:18] aperezhortal commented on #314
Hello @winash12 ,

Pysteps can read raw MCH data stored as gif files. Note that this is not the same format as the image that you showed above.

I don't think is possible to read the file that you are showing since it contains text that is masking radar data.
You mentioned in another issue that you have netCDF and HDF5 files. I suggest you use those formats.
However, you may need to create your ow

[2022-10-28 11:31] dnerini commented on #314
Duplicate of #20?

[2022-10-29 11:31] winash12 commented on #314
So reopening for a short while. There is some hope that scikit image could convert my image into a GIF without the background and keeping the reflectivity alone. We will see if that works or not. The geo encoding could be saved as well with scikit image. We will see no promises or guarantees. Just looking at a POC.

[2022-11-16 16:20] RubenImhoff commented on #309
@ladc and @Michiel, any updates about this issue? Or is this something we should try to pick up together soon?

[2022-11-20 10:29] ladc commented on #309
Hello Ruben,

Not yet, indeed. This could be one of the issues to tackle during the pysteps workshop :-)
I'll check this with Alan, I had not yet done so.

[2022-11-26 02:38] #314 closed, assigned to nobody

[2022-11-28 16:00] ladc commented on #309
Hello everyone,

I summarize Alan's reply below
- Set hreshold at around 3% raining fraction: default auto-correlations [code from STEPS1] below this fraction. Default (lag2) auto-correlations use a power law for the correlation length as a function of scale + black magic
- If QPE zero and NWP zero: resulting forecast = all zeros. With NWP ensembles this is not so likely - EPS may quantify errors